/* .table > :not(caption) > * > * {
  padding: 0.625rem 1.25rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
} */
/* .table tr > td {
  border-bottom: 1.5px solid #d9dee3 !important;
  height: 60px !important;
}
.table > :not(:last-child), .table > :not(:first-child) {
  border: none !important;
} */
.qty-width {
  width:15% ;
}
.boader-top-1 {
  border-top: 2px solid #d9dee3;
}
.boader-top-1:last-child {
  border-bottom: 2px solid #d9dee3;
}
.boader-bottom-1 {
  border-bottom: 2px solid #d9dee3;
}
.boader-bottom-1:last-child {
  border-bottom: none;
}
table tr:last-child .boader-top-1:last-child {
  border-bottom: none;
}