<div class="container-fluid flex-grow-1 container-p-y">
    <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span>Add Package Master</h4>
    </div> -->
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Booking Confirm</h5>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body" [formGroup]="viewBookingForm">
            <div class="row p-sm-3 p-0">
                <div class="col-md-6 col-sm-5 col-12 mb-sm-0 mb-4 ps-0">
                    <!-- <h6 class="pb-2">Client Details:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Name:</strong> </td>
                                <td class="text-muted">{{fbookingConfirmData?.name.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Email:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.email.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.primaryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact-2:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.secondryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Address:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.address.value}}</td>
                            </tr>

                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.referenceName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Details:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.reference_detail.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-7 pe-0">
                    <!-- <h6 class="pb-2">Bill To:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Party Plot:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.partyPlotName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Event Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.eventName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Guest:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.guest.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Date:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value | date : 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Time:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value |
                                    date : 'hh:mm:ss a'}}&nbsp;-&nbsp;{{fbookingConfirmData?.endDateObj.value| date :
                                    'hh:mm:ss
                                    a'}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Client Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.client_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Offer Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.offer_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Remark:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.remark.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row p-sm-3 p-0">
                <div>
                    <h5>Package</h5>

                </div>
                <table class=" table-responsive" formArrayName="package">
                    <thead>
                        <tr class="boader-bottom-1">
                            <th class="text-center w-5">Sr. No.</th>
                            <th class="w-80">Particular</th>
                            <th class="qty-width">Qty/Size</th>
                        </tr>
                    </thead>
                    <tr [formGroupName]="i"
                        *ngFor=" let item of viewBookingForm.get('package')['controls']; let i = index">
                        <td colspan="3" style="text-align:center;">
                            <div style="padding: 7px 0;">{{item.controls.categoryName.value}}</div>
                            <table class="w-100 " formArrayName="packageCategoryList">
                                <tr [formGroupName]="x" class="boader-top-1"
                                    *ngFor="let citem of item.get('packageCategoryList')['controls']; let x = index;">
                                    <td class="text-center w-5">{{x+1}}</td>
                                    <td class="text-start w-80">{{citem.controls.item.value}}</td>
                                    <td class="qty-width">
                                        <input type="text" class="form-control" id="basic-default-company"
                                            formControlName="quantity" placeholder="Enter Quantity" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row p-sm-3 p-0">
                <div>
                    <h5> Extra Decoration</h5>
                </div>
                <table class="" formArrayName="extradecoration">
                    <tr class="boader-bottom-1">
                        <th class="text-center w-5">Sr. No.</th>
                        <th class=" w-80">Item</th>
                        <th class="qty-width">Qty/Size</th>
                    </tr>
                    <tr [formGroupName]="y" class="boader-bottom-1"
                        *ngFor="let citem of viewBookingForm.get('extradecoration')['controls']; let y = index;">
                        <td class="text-center w-5">{{y + 1}}</td>
                        <td class=" w-80">{{citem.controls.item.value}}</td>
                        <td class="qty-width">
                            <input type="text" class="form-control" id="basic-default-company"
                                formControlName="quantity" placeholder="Enter Quantity" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row p-sm-3 p-0">
                <div class="d-flex justify-content-between mb-3">
                    <h5>Decoration Images</h5>
                    <!-- <div class="float-end"> -->
                    <button type="submit" class="btn btn-primary" (click)="uploadDecorationModal()">Upload Decoration
                        Image</button>
                    <!-- </div> -->
                </div>
                <table class="">
                    <tr class="boader-bottom-1">
                        <th class="text-center w-5">Sr. No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Decoration</th>
                        <th>Action</th>
                    </tr>
                    <tr class="boader-bottom-1" *ngFor="let decorationData of imageDecorationList;let decorationIndex=index">
                        <td class="text-center w-5">{{decorationIndex + 1}}</td>
                        <td>{{decorationData.name}}</td>
                        <td>{{decorationData.description}}</td>
                        <td>
                            <img src="{{decorationURLPath}}{{decorationData.Image[0]}}" width="50px" height="50px"
                                alt="">
                        </td>
                        <td>
                            <div class="d-flex">

                                <button class="btn-bg"
                                    (click)="editDecorationImages({id : decorationData._id, index : decorationIndex})"><i
                                        class="bx bx-edit-alt" tooltip="Edit" placement="bottom" showDelay="100"></i>
                                </button>
                                <button title="Delete Decoration Image"
                                    (confirm-click)="deleteDecorationImages({id :decorationData._id,index:decorationIndex, status:2})"
                                    appConfirm [confirmTitle]="'Delete Decoration Image'"
                                    [confirmContent]="'Are you sure to Delete this Decoration Image?'"
                                    class="bg-label-danger btn-bg bg-label-danger" tooltip="Delete" placement="bottom"
                                    showDelay="100">
                                    <i class="bx bx-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add-upload-decoration" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>{{isEditDecorationImage == true ? 'Edit' :
                        'Add'}} Decoration</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancleUploadImage()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Image Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                            [(ngModel)]="imageName" />
                        <div *ngIf="submittedUploadDecorationData && !imageName">
                            <span class="error_msg text-danger">Image Name is Required.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Image Description</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                            [(ngModel)]="imageDescription" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Upload Decoration</label>
                        <input type="file" #imageDecoration id="nameBasic" class="form-control" placeholder="Enter Name"
                            (change)="onImageDecorationChange($event)" />
                        <div *ngIf="imageDecorationURLFile" class="imgUpload">
                            <img [src]="imageDecorationURLFile" alt="" width="100">
                            <button type="button" class="btn-close ml-10" aria-label="Close"
                                (click)="removeImageDecorationFile()"></button>
                        </div>
                        <div *ngIf="imageDecorationError === true">
                            <span class="error_msg text-danger">Decoration Image is Required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="isEditDecorationImage === false"
                    (click)="createImageDecoration()">Save</button>
                <button type="button" class="btn btn-primary" (click)="updateImageDecoration()"
                    *ngIf="isEditDecorationImage === true">Update</button>
            </div>
        </div>
    </div>
</div>