<div class="container-fluid flex-grow-1 container-p-y">
    <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span>Add Package Master</h4>
    </div> -->
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Booking Confirm</h5>
            <button type="button" class="btn btn-primary" (click)="clientDetailsUpdate()">Edit</button>
        </div>
        <div class="card-body" [formGroup]="viewBookingForm">
            <div class="row p-sm-3 p-0">
                <div class="col-md-6 col-sm-5 col-12 mb-sm-0 mb-4 ps-0">
                    <!-- <h6 class="pb-2">Client Details:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Name:</strong> </td>
                                <td class="text-muted">{{fbookingConfirmData?.name.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Email:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.email.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.primaryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact-2:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.secondryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Address:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.address.value}}</td>
                            </tr>

                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.referenceName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Details:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.reference_detail.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-7 pe-0">
                    <!-- <h6 class="pb-2">Bill To:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Party Plot:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.partyPlotName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Event Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.eventName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Guest:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.guest.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Date:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value | date :
                                    'dd/MM/yyyy':'+0000'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Time:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value |
                                    date : 'hh:mm a':'+0000'}}&nbsp;-&nbsp;{{fbookingConfirmData?.endDateObj.value|
                                    date : 'hh:mm a':'+0000'}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Client Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.client_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Offer Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.offer_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Remark:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.remark.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-0">Package</h5>
            </div>
            <div>
                <button type="submit" class="btn-bg" *ngIf="isEditPackageItem === false && isUpdated === true"
                    (click)="editPackageItemFormArray()"><i class="bx bx-edit-alt" tooltip="Edit" placement="bottom"
                        showDelay="100"></i></button>
                <div class="d-flex">
                    <button type="submit" class="bg-label-success btn-bg bg-label-success"
                        *ngIf="isEditPackageItem === true" (click)="updatePackageDecorationItem()"><i
                            class="bx bx-check" tooltip="Update" placement="bottom" showDelay="100"></i></button>
                    <button type="submit" class="bg-label-danger btn-bg bg-label-danger ml-10"
                        *ngIf="isEditPackageItem === true" (click)="canclePackageItemIsEdit()"><i class="bx bx-x"
                            tooltip="Cancle" placement="bottom" showDelay="100"></i></button>
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body">
            <form [formGroup]="viewBookingForm">
                <div class="row p-sm-3 p-0">

                    <table class=" table-responsive" formArrayName="package">
                        <thead>
                            <tr class="boader-bottom-1">
                                <th class="text-center w-5">Sr. No.</th>
                                <th class="w-80">Particular</th>
                                <th class="qty-width">Qty/Size</th>
                            </tr>
                        </thead>
                        <tr [formGroupName]="i"
                            *ngFor=" let item of viewBookingForm.get('package')['controls']; let i = index">
                            <td colspan="3" style="text-align:center;">
                                <div style="padding: 7px 0;">
                                    <h5><strong>{{item.controls.categoryName.value}}</strong></h5>
                                </div>
                                <table class="w-100 table-border" formArrayName="packageCategoryList">
                                    <tr [formGroupName]="x" class="boader-top-1"
                                        *ngFor="let citem of item.get('packageCategoryList')['controls']; let x = index;">
                                        <td class="text-center w-5">{{x+1}}</td>
                                        <td class="text-start w-80">{{citem.controls.item.value}}</td>
                                        <td class="qty-width text-start">
                                            <span
                                                *ngIf="isEditPackageItem === false">{{citem.controls.quantity.value}}</span>
                                            <input type="text" *ngIf="isEditPackageItem === true" class="form-control"
                                                id="basic-default-company" formControlName="quantity"
                                                placeholder="Enter Quantity" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <hr class="mb-3" *ngIf="isEditPackageItem === false">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h5 *ngIf="isEditPackageItem === false">Basic Package <span>&nbsp; :&nbsp;
                                {{fbookingConfirmData.basicPackage.value}}</span></h5>
                        <label *ngIf="isEditPackageItem === true" class="form-label" for="basic-default-company">Basic
                            Packege</label>

                        <input type="text" *ngIf="isEditPackageItem === true" appNumbersOnly class="form-control"
                            id="basic-default-company" placeholder="Basic Packege" formControlName="basicPackage" />
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h5 *ngIf="isEditPackageItem === false">Discount <span>&nbsp; :&nbsp;
                                {{fbookingConfirmData.discount.value}}</span></h5>
                        <label *ngIf="isEditPackageItem === true" class="form-label"
                            for="basic-default-company">Discount</label>

                        <input type="text" *ngIf="isEditPackageItem === true" appNumbersOnly class="form-control"
                            id="basic-default-company" value="0" placeholder="Enter Discount"
                            formControlName="discount" />
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h5 *ngIf="isEditPackageItem === false">Final Amount<span>&nbsp; :&nbsp;
                                {{fbookingConfirmData.finalbudget.value}}</span></h5>
                        <label *ngIf="isEditPackageItem === true" class="form-label" for="basic-default-company">Final
                            Amount</label>

                        <input type="text" *ngIf="isEditPackageItem === true" appNumbersOnly class="form-control"
                            id="basic-default-company" value="0" placeholder="Enter Final Amount"
                            formControlName="finalbudget" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-0">Extra Decoration</h5>
            </div>
            <div *ngIf="isUpdated === true">
                <button type="submit" class="btn-bg " *ngIf="isEditExtraItem === false && eventList.length != 0"
                    (click)="editExtraItemFormArray()"><i class="bx bx-edit-alt" tooltip="Edit" placement="bottom"
                        showDelay="100"></i></button>
                <div class="d-flex">
                    <button type="submit" class="bg-label-success btn-bg bg-label-success"
                        *ngIf="isEditExtraItem === false && eventList.length == 0" (click)="editExtraItemFormArray()"><i
                            class="bx bx-plus" tooltip="Add" placement="bottom" showDelay="100"></i></button>
                    <button type="submit" class="bg-label-success btn-bg bg-label-success"
                        *ngIf="isEditExtraItem === true" (click)="updateExtraDecorationItem()"><i class="bx bx-check"
                            tooltip="Save" placement="bottom" showDelay="100"></i></button>
                    <button type="submit" class="bg-label-danger btn-bg bg-label-danger ml-10"
                        *ngIf="isEditExtraItem === true" (click)="cancleExtraItemIsEdit()"><i class="bx bx-x"
                            tooltip="Cancel" placement="bottom" showDelay="100"></i></button>
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body" [formGroup]="viewBookingForm">
            <div class="row p-sm-3 p-0">
                <table class="table-border" formArrayName="extradecoration">
                    <tr class="boader-bottom-1" *ngIf="eventList.length != 0">
                        <th class="text-center w-5">Sr. No.</th>
                        <th class=" w-80 required">Item</th>
                        <th class="qty-width required">Qty/Size</th>
                        <th class="qty-width" *ngIf="isEditExtraItem === true">Action</th>
                    </tr>
                    <tr [formGroupName]="y" class="boader-bottom-1"
                        *ngFor="let citem of viewBookingForm.get('extradecoration')['controls']; let y = index;">
                        <td class="text-center w-5">{{y + 1}}</td>
                        <td class=" w-80">
                            <span *ngIf="isEditExtraItem === false">{{citem.controls.item.value}}</span>
                            <input type="text" *ngIf="isEditExtraItem === true" class="form-control"
                                id="basic-default-company" formControlName="item" placeholder="Enter Item Name" />
                            <div *ngIf="submittedExtraItemData[y] && citem.controls.item.errors">
                                <div *ngIf="citem.controls.item.errors.required">
                                    <span class="error_msg">Item is Required.</span>
                                </div>
                            </div>
                        </td>
                        <td class="qty-width">
                            <span *ngIf="isEditExtraItem === false">{{citem.controls.quantity.value}}</span>
                            <input type="text" *ngIf="isEditExtraItem === true" class="form-control"
                                id="basic-default-company" formControlName="quantity" placeholder="Enter Quantity" />
                            <div *ngIf="submittedExtraItemData[y] && citem.controls.quantity.errors">
                                <div *ngIf="citem.controls.quantity.errors.required">
                                    <span class="error_msg">Quantity is Required.</span>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="isEditExtraItem === true">
                            <button (click)="removeExtraDecoration(y)" class="bg-label-danger btn-bg bg-label-danger"
                                tooltip="Delete" placement="bottom" showDelay="100">
                                <i class="bx bx-trash"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="isEditExtraItem === true" class="mb-3">
                <button type="submit" [ngClass]="fbookingConfirmData.extradecoration.invalid == true ? 'disabled' : ''"
                    class="bg-label-success btn btn-bg bg-label-success ml-10" (click)="addExtraItemArray()"><i
                        class="bx bx-plus" tooltip="Add" placement="bottom" showDelay="100"></i></button>
            </div>
            <div *ngIf="eventList.length != 0">
                <hr class="mb-3" *ngIf="isEditExtraItem === false">
                <div class="col-lg-4 col-md-6 mb-3">
                    <h5 *ngIf="isEditExtraItem === false">Extra Cost <span>&nbsp; :&nbsp;
                            {{fbookingConfirmData.extraDecorBudget.value}}</span></h5>
                    <label *ngIf="isEditExtraItem === true" class="form-label" for="basic-default-company">Extra
                        Cost</label>

                    <input type="text" *ngIf="isEditExtraItem === true" appNumbersOnly class="form-control"
                        id="basic-default-company" placeholder="Extra Cost" formControlName="extraDecorBudget" />
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Client Selected Decor</h5>
            <button type="submit" class="bg-label-success btn-bg bg-label-success ml-10" *ngIf="isUpdated === true"
                (click)="uploadDecorationModal()"><i class="bx bx-plus" tooltip="Add" placement="bottom"
                    showDelay="100"></i></button>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body" [formGroup]="viewBookingForm">
            <div class="row p-sm-3 p-0">
                <table class="table-border" *ngIf="imageDecorationList?.length > 0">
                    <tr class="boader-bottom-1">
                        <th class="text-center w-5">Sr. No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Decoration</th>
                        <th>Action</th>
                    </tr>
                    <tr class="boader-bottom-1"
                        *ngFor="let decorationData of imageDecorationList;let decorationIndex=index">
                        <td class="text-center w-5">{{decorationIndex + 1}}</td>
                        <td>{{decorationData.name}}</td>
                        <td>{{decorationData.description}}</td>
                        <td>
                            <img src="{{decorationURLPath}}{{decorationData.Image[0]}}" width="50px" height="50px"
                                alt="">
                        </td>
                        <td>
                            <div class="d-flex">

                                <button class="btn-bg"
                                    (click)="editDecorationImages({id : decorationData._id, index : decorationIndex})"><i
                                        class="bx bx-edit-alt" tooltip="Edit" placement="bottom" showDelay="100"></i>
                                </button>
                                <button title="Delete Decoration Image"
                                    (confirm-click)="deleteDecorationImages({id :decorationData._id,index:decorationIndex, status:2})"
                                    appConfirm [confirmTitle]="'Delete Decoration Image'"
                                    [confirmContent]="'Are you sure to Delete this Decoration Image?'"
                                    class="bg-label-danger btn-bg bg-label-danger" tooltip="Delete" placement="bottom"
                                    showDelay="100">
                                    <i class="bx bx-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Download PDF</h5>
        </div>
        <div class="card-body">
            <div class="row p-sm-3 p-0">
                <div class="p-0">
                    <button class="dt-button buttons-collection btn btn-label-danger me-2 mb-3" (click)="downloadPdf()">
                        <span>
                            <i class="bx bxs-file-pdf me-sm-2" tooltip="Download PDF" placement="bottom"
                                showDelay="100"></i>
                            <span>Download Booking Details</span>
                        </span>
                    </button>
                    <button class="dt-button buttons-collection btn btn-label-danger me-2 mb-3"
                        *ngIf="imageDecorationList.length > 0" (click)="downloadDecorationPdf()">
                        <span>
                            <i class="bx bxs-file-pdf me-sm-2" tooltip="Download PDF" placement="bottom"
                                showDelay="100"></i>
                            <span>Download Client Selected Decor</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add-upload-decoration" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>{{isEditDecorationImage == true ? 'Edit' :
                        'Add'}} Decoration</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancleUploadImage()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label required">Image Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Image Name"
                            [(ngModel)]="imageName" />
                        <div *ngIf="submittedUploadDecorationData && !imageName">
                            <span class="error_msg text-danger">Image Name is Required.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Image Description</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Image Description"
                            [(ngModel)]="imageDescription" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label required">Upload Decoration</label>
                        <input type="file" #imageDecoration accept="image/*" id="nameBasic" class="form-control"
                            placeholder="Enter Decoration" (change)="onImageDecorationChange($event)" />
                        <div *ngIf="imageDecorationURLFile" class="imgUpload">
                            <img [src]="imageDecorationURLFile" alt="" width="100">
                            <button type="button" class="btn-close ml-10" aria-label="Close"
                                (click)="removeImageDecorationFile()"></button>
                        </div>
                        <div *ngIf="imageDecorationError === true">
                            <span class="error_msg text-danger">Decoration Image is Required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="isEditDecorationImage === false"
                    (click)="createImageDecoration()">Save</button>
                <button type="button" class="btn btn-primary" (click)="updateImageDecoration()"
                    *ngIf="isEditDecorationImage === true">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-client-details" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Edit Client</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancleClientDetails()"></button>
            </div>
            <div class="modal-body">
                <form role="form" class="add-employee-form" autocomplete="off" [formGroup]="clientdetailsDataForm">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label required">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" />
                            <div *ngIf="submittedClientData && fclientDataForm.name.errors">
                                <div *ngIf="fclientDataForm.name.errors.required">
                                    <span class="error_msg">Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label class="form-label required" for="basic-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="basic-default-email" class="form-control"
                                    placeholder="Enter Email" aria-label="john.doe"
                                    aria-describedby="basic-default-email2" formControlName="email" />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                            <div *ngIf="submittedClientData && fclientDataForm.email.errors">
                                <div *ngIf="fclientDataForm.email.errors.required">
                                    <span class="error_msg">Email is Required.</span>
                                </div>
                                <div *ngIf="fclientDataForm.email.errors.pattern">
                                    <span class="error_msg">Please Enter Valid Email ID.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label class="form-label required" for="basic-default-phone">Contact</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" appNumbersOnly maxlength="10"
                                formControlName="primaryContact" />
                            <div *ngIf="submittedClientData && fclientDataForm.primaryContact.errors">
                                <div *ngIf="fclientDataForm.primaryContact.errors.required">
                                    <span class="error_msg">Contact is Required.</span>
                                </div>
                                <div *ngIf="fclientDataForm.primaryContact.errors.minlength">
                                    <span class="error_msg">Contact length is 10.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact-2</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly maxlength="10"
                                class="form-control phone-mask" placeholder="658 799 8941"
                                formControlName="secondryContact" />
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label required">Address</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Address" formControlName="address"></textarea>
                            <div *ngIf="submittedClientData && fclientDataForm.address.errors">
                                <div *ngIf="fclientDataForm.address.errors.required">
                                    <span class="error_msg">Address is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label required">Select Party Plot</label>
                            <ng-select [items]="assignpartyplotList" [multiple]="false" class="form-control p-0 me-3"
                                bindLabel="name" bindValue="_id" [clearable]="false" [searchable]="false"
                                (change)="getEventList()" formControlName="partyplot_ID"
                                placeholder="Select Party Plot">
                            </ng-select>
                            <div *ngIf="submittedClientData && fclientDataForm.partyplot_ID.errors">
                                <div *ngIf="fclientDataForm.partyplot_ID.errors.required">
                                    <span class="error_msg">Please Select Party Plot.</span>
                                </div>
                            </div>
                            <!-- <div *ngIf="submittedStaffData && partyplotInvalid === true">
                                <span class="error_msg text-danger">Party plot is Required.</span>
                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label required">Select Reference Type</label>
                            <ng-select [items]="referenceActiveList" [multiple]="false" class="form-control p-0"
                                bindLabel="referenceName" bindValue="_id" [searchable]="false"
                                formControlName="reference_ID" placeholder="Select Reference Type">
                            </ng-select>
                            <div *ngIf="submittedClientData && fclientDataForm.reference_ID.errors">
                                <div *ngIf="fclientDataForm.reference_ID.errors.required">
                                    <span class="error_msg">Reference Type is Required.</span>
                                </div>
                            </div>
                            <!-- <div *ngIf="submittedStaffData && partyplotInvalid === true">
                                <span class="error_msg text-danger">Party plot is Required.</span>
                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label">Reference Details</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Reference Details" formControlName="reference_detail"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label required">Select Event Type</label>
                            <ng-select [items]="eventListbyPartyplot" [multiple]="false" class="form-control p-0"
                                bindLabel="name" bindValue="_id" [searchable]="false" formControlName="eventType"
                                placeholder="Select Reference Type">
                            </ng-select>
                            <div *ngIf="submittedClientData && fclientDataForm.eventType.errors">
                                <div *ngIf="fclientDataForm.eventType.errors.required">
                                    <span class="error_msg">Reference Type is Required.</span>
                                </div>
                            </div>
                            <!-- <div *ngIf="submittedStaffData && partyplotInvalid === true">
                                <span class="error_msg text-danger">Party plot is Required.</span>
                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label class="form-label" for="basic-default-phone">Guest</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly maxlength="10"
                                class="form-control phone-mask" placeholder="Enter Guest Count"
                                formControlName="guest" />
                            <div *ngIf="submittedClientData && fclientDataForm.guest.errors">
                                <div *ngIf="fclientDataForm.guest.errors.required">
                                    <span class="error_msg">Guest is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label class="form-label" for="basic-default-phone">Client Budget</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly class="form-control phone-mask"
                                placeholder="Enter Client Budget" formControlName="client_budget" />
                            <div *ngIf="submittedClientData && fclientDataForm.client_budget.errors">
                                <div *ngIf="fclientDataForm.client_budget.errors.required">
                                    <span class="error_msg">Client Budget is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label class="form-label" for="basic-default-phone">Offer Budget</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly class="form-control phone-mask"
                                placeholder="Enter Offer Budget" formControlName="offer_budget" />
                            <div *ngIf="submittedClientData && fclientDataForm.offer_budget.errors">
                                <div *ngIf="fclientDataForm.offer_budget.errors.required">
                                    <span class="error_msg">Offer Budget is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3">
                            <label for="nameBasic" class="form-label">Remark</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Remark" formControlName="remark"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateClientDetails()">Update</button>
            </div>
        </div>
    </div>
</div>