<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Menu Master</h4>
        <div>
            <button type="button" class="btn btn-primary" (click)="addMenu()">
                Add New
            </button>
        </div>
    </div>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Menu Name</th>
                        <th>Parent Name</th>
                        <th>Module</th>
                        <th>Order</th>
                        <th>Icon</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr
                        *ngFor="let menuData of menuList | paginate: { itemsPerPage: l, currentPage: p };let menuIndex = index">
                        <td>{{ l * (p - 1) + menuIndex +1 }}</td>
                        <td><strong>{{ menuData.title }}</strong></td>
                        <td>{{ menuData.parentName }}</td>
                        <td>{{ menuData.module }}</td>
                        <td>{{ menuData.order }}</td>
                        <td><i class="material-icons">{{menuData.icon}}</i></td>
                        <td>
                            <span *ngIf="menuData.status == 1" class="badge bg-label-primary">Active</span>
                            <span *ngIf="menuData.status == 2" class="badge bg-label-danger">Deactive</span>
                        </td>
                        <td>
                            <div class="d-flex">
                                <button class="btn-bg" (click)="editMenumaster({id : menuData._id, index:menuIndex})"><i
                                        class="bx bx-edit-alt"></i>
                                </button>
                                <button *ngIf="menuData.status == 2" class="btn-bg bg-label-success"
                                    (confirm-click)="statusMenu({id :menuData._id,index:menuIndex, status:1})"
                                    appConfirm [confirmTitle]="'Active'"
                                    [confirmContent]="'Are you sure to Active this Menu Master?'">
                                    <i class="bx bx-plus"></i></button>
                                <button *ngIf="menuData.status == 1" class="btn-bg bg-label-danger"
                                    (confirm-click)="statusMenu({id :menuData._id,index:menuIndex, status:2})"
                                    appConfirm [confirmTitle]="'Deactive'"
                                    [confirmContent]="'Are you sure to Deactive this Menu Master?'">
                                    <i class="bx bx-trash "></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="footer-pagination float-end mt-3">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<div class="modal fade" id="add-menu-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Add Menu</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelMenu()"></button>
            </div>
            <div class="modal-body">
                <form role="form" class="menu-master-form" [formGroup]="menuForm" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Title</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="title" />
                            <div *ngIf="submittedMenuData && fTitleData.title.errors">
                                <div *ngIf="fTitleData.title.errors.required">
                                    <span class="error_msg">Title is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Path</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="path" />
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Class</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="class" />
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Icon</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="icon" />
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Order</label>
                            <input type="number" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="order" />
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Parent Name</label>
                            <ng-select [items]="perentList" class="form-control p-0" bindLabel="title" bindValue="_id"
                                placeholder="Select Parent Name" formControlName="parentId">
                            </ng-select>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Module List</label>
                            <ng-select [items]="moduleList" class="form-control p-0" bindLabel="name" bindValue="value"
                                placeholder="Select Module">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="ISeditMenu === false" (click)="saveMenu()"
                    class="btn btn-primary my-2">Save</button>
                <button type="button" *ngIf="ISeditMenu === true" (click)="updateMenu()"
                    class="btn btn-primary my-2">Update</button>
            </div>
        </div>
    </div>
</div>