<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Role Master</h4>
        <div>
            <button type="button" class="btn btn-primary" (click)="addRole()">
                Add New
            </button>
        </div>
    </div>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Role Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr *ngFor="let rolemasterData of rolemasterList | paginate: { itemsPerPage: l, currentPage: p }; let roleMasterIndex = index">
                        <td>{{ l * (p - 1) + roleMasterIndex + 1 }}</td>
                        <td>{{ rolemasterData.roleName }}</td>
                        <td>
                            <span *ngIf="rolemasterData.status == 1"
                            class="badge bg-label-primary me-1">Active</span>
                            <span *ngIf="rolemasterData.status == 2"
                            class="badge bg-label-danger me-1">Deactive</span></td>
                        <td>
                            <div class="dropdown" *ngIf="rolemasterData.isEditable === true">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" (click)="editRolemaster({id : rolemasterData._id, index : roleMasterIndex})"><i
                                            class="bx bx-edit-alt me-1"></i>
                                        Edit</button>
                                    <button *ngIf="rolemasterData.status == 2"
                                    class="dtl-btn btn bg-gradient-dark" title="Active Role"
                                    (confirm-click)="statusRolemaster({id :rolemasterData._id,index:roleMasterIndex, status:1})"
                                    appConfirm [confirmTitle]="'Active'"
                                    [confirmContent]="'Are you sure to Active this Role Master?'" class="dropdown-item"><i class="bx bx-plus me-1"></i>Active</button>
                                    <button *ngIf="rolemasterData.status == 1"
                                    class="dtl-btn btn bg-gradient-dark" title="Deactive Role"
                                    (confirm-click)="statusRolemaster({id :rolemasterData._id,index:roleMasterIndex, status:2})"
                                    appConfirm [confirmTitle]="'Deactive'"
                                    [confirmContent]="'Are you sure to Deactive this Role Master?'" class="dropdown-item"><i class="bx bx-trash me-1"></i>Deactive</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="footer-pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<div class="modal fade" id="add-role-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Add New Role Master</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="cancelRolemaster()"></button>
            </div>
            <div class="modal-body">
                <form role="form" class="add-employee-form" [formGroup]="rolemasterForm" autocomplete="off">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Role Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name" formControlName="roleName"/>
                            <div *ngIf="submittedroleMasterData && fRolenameData.roleName.errors">
                                <div *ngIf="fRolenameData.roleName.errors.required">
                                    <span class="error_msg">Role Name is Required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="ISeditRoleMaster === false" (click)="saveRolemaster()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="ISeditRoleMaster === true" (click)="updateRolemaster()">Update</button>
            </div>
        </div>
    </div>
</div>