<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Comapny Setting</h4>
        <div>
            <button type="button" class="btn btn-primary" *ngIf="isEditing === false" (click)="editcompanySetting()">
                Edit Company
            </button>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">General Setting</h5>
        </div>
        <div class="card-body">
            <form [formGroup]='comapnyForm' role="form" class="add-employee-form" autocomplete="off">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                            formControlName="name" />
                        <!-- <div>
                            <div>
                                <span class="error_msg">Name is Required.</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-email">Comapny Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                aria-label="john.doe" aria-describedby="basic-default-email2"
                                formControlName="companyEmail" />
                            <span class="input-group-text" id="basic-default-email2">@example.com</span>
                        </div>
                        <!-- <div class="form-text">You can use letters, numbers & periods</div> -->
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Phone No</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799 8941" formControlName="phone" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Tel No</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799 8941" formControlName="phone2" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="formFile" class="form-label">Logo</label>
                        <input class="form-control" type="file" id="formFile" formControlName="companyLogo"
                            (change)="onLogoChange($event)">
                        <div *ngIf="imgLogoSrc" class="imgUpload">
                            <img [src]="imgLogoSrc" alt="" width="100">
                            <button type="button" class="btn-close ml-10" data-bs-dismiss="modal" aria-label="Close"
                                (click)="imgLogoSrc=''"></button>
                        </div>

                    </div>
                    <!-- <div class="col-lg-6 mb-3">
                        <label for="html5-password-input" class="col-md-2 col-form-label">Password</label>
                        <input class="form-control" type="password" value="password" id="html5-password-input">
                    </div> -->
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-company">Signature</label>
                        <input type="file" class="form-control" id="basic-default-company" placeholder="ACME Inc."
                            formControlName="signature" (change)="onSignatureChange($event)" />
                        <div *ngIf="imgSignatureSrc" class="imgUpload">
                            <img [src]="imgSignatureSrc" alt="" width="100">
                            <button type="button" class="btn-close ml-10" data-bs-dismiss="modal" aria-label="Close"
                                (click)="imgSignatureSrc=''"></button>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
                <div class="px-0 card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Email Setting</h5>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-email">Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                aria-label="john.doe" aria-describedby="basic-default-email2" formControlName="email" />
                            <span class="input-group-text" id="basic-default-email2">@example.com</span>
                        </div>
                        <!-- <div class="form-text">You can use letters, numbers & periods</div> -->
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="html5-password-input" class="col-md-2 col-form-label">Password</label>
                        <input class="form-control" type="password" value="password" id="html5-password-input"
                            formControlName="password">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-company">Service</label>
                        <input type="text" class="form-control" id="basic-default-company" placeholder="ACME Inc."
                            formControlName="service" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Port</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799" formControlName="port" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-phone">SMTP</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask" placeholder=""
                            formControlName="smtp" />
                    </div>
                </div>
            </form>
            <div class="d-flex float-end">
                <div class="pe-3" *ngIf="isEditing === true">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="" *ngIf="isEditing === true" (click)="canclecompanySetting()">
                    <button type="submit" class="btn btn-outline-primary">Cancle</button>
                </div>
            </div>
        </div>
    </div>
</div>