<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-md-flex justify-content-end align-items-center mb-3">
        <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Comapny Setting</h4> -->
        <div class="btn-cus"  *ngIf="this.isUpdated === true">
            <button type="button" class="btn btn-primary m-0" *ngIf="isEditing === false"
                (click)="editcompanySetting()">
                Edit Company
            </button>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">General Setting</h5>
        </div>
        <div class="card-body">
            <form [formGroup]='comapnyForm' role="form" class="add-employee-form" autocomplete="off">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label required">Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                            formControlName="name" />
                        <div *ngIf="submittedCompanyData && fnameData.name.errors">
                            <div *ngIf="fnameData.name.errors.required">
                                <span class="error_msg text-danger">Name is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required" for="basic-default-email">Comapny Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                aria-label="john.doe" aria-describedby="basic-default-email2" formControlName="email" />
                            <span class="input-group-text" id="basic-default-email2">@example.com</span>
                        </div>
                        <div *ngIf="submittedCompanyData && fnameData.email.errors">
                            <div *ngIf="fnameData.email.errors.required">
                                <span class="error_msg text-danger">Email is Required.</span>
                            </div>
                            <div *ngIf="fnameData.email.errors.email">
                                <span class="error_msg text-danger">Email must be a valid email address.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label required" for="basic-default-phone">Mobile No</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799 8941" formControlName="Telephone1" maxlength="10" minlength="10"
                            appNumbersOnly />
                        <div *ngIf="submittedCompanyData && fnameData.Telephone1.errors">
                            <div *ngIf="fnameData.Telephone1.errors.required">
                                <span class="error_msg text-danger">Mobile is Required.</span>
                            </div>
                            <div *ngIf="fnameData.Telephone1.errors.pattern">
                                <span class="error_msg text-danger">Please, Enter Valid Number.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Tel No</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799 8941" formControlName="Telephone2" maxlength="10" minlength="10"
                            appNumbersOnly />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Party Plot</label>
                        <ng-select [items]="activepartyplotList" [multiple]="true" [searchable]="false"
                                    class="form-control p-0 me-3" bindLabel="name" bindValue="_id"
                                    formControlName="cricketPartyPlot" placeholder="Select Party Plot">
                                </ng-select>
                    </div>
                    <div class="col-lg-6 mb-3">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="formFile" class="form-label">Logo</label>
                        <input class="form-control" type="file" [multiple]=false accept="image/*" formControlName="logo"
                            #filelogo (change)="onLogoChange($event)">
                        <div *ngIf="imgURLlogo" class="imgUpload">
                            <img [src]="imgURLlogo" alt="" width="100">
                            <button *ngIf="isEditing === true" type="button" class="btn-close ml-10"
                                data-bs-dismiss="modal" aria-label="Close" (click)="removeURLlogo()"></button>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label" for="basic-default-company">Signature</label>
                        <input #filesignature type="file" class="form-control" id="basic-default-company"
                            placeholder="ACME Inc." formControlName="signature" [multiple]=false accept="image/*"
                            (change)="onSignatureChange($event)" />
                        <div *ngIf="imgURLsignature" class="imgUpload">
                            <img [src]="imgURLsignature" alt="" width="100">
                            <button *ngIf="isEditing === true" type="button" class="btn-close ml-10"
                                data-bs-dismiss="modal" aria-label="Close" (click)="removeURLsignature()"></button>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
                <div class="px-0 card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Email Setting</h5>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required" for="basic-default-email">Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                aria-label="john.doe" aria-describedby="basic-default-email2"
                                formControlName="SMTP_email" />
                            <span class="input-group-text" id="basic-default-email2">@example.com</span>
                        </div>
                        <div *ngIf="submittedCompanyData && fnameData.SMTP_email.errors">
                            <div *ngIf="fnameData.SMTP_email.errors.required">
                                <span class="error_msg text-danger">Email is Required.</span>
                            </div>
                            <div *ngIf="fnameData.SMTP_email.errors.email">
                                <span class="error_msg text-danger">Email must be a valid email address.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="html5-password-input" class="col-md-2 required col-form-label">Password</label>
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="password" value="password" id="html5-password-input"
                                formControlName="SMTP_password" [type]="hide1 ? 'text' : 'password'">
                            <span (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide1" class="input-group-text cursor-pointer"><i
                                    class="bx {{hide1 ? 'bx-show' : 'bx-hide'}}"></i></span>
                        </div>
                        <div *ngIf="submittedCompanyData && fnameData.SMTP_password.errors">
                            <div *ngIf="fnameData.SMTP_password.errors.required">
                                <span class="error_msg text-danger">Password is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required" for="basic-default-company">Service</label>
                        <input type="text" class="form-control" id="basic-default-company" placeholder="Service Select"
                            formControlName="service" />
                        <div *ngIf="submittedCompanyData && fnameData.service.errors">
                            <div *ngIf="fnameData.service.errors.required">
                                <span class="error_msg text-danger">Service is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required" for="basic-default-phone">Port</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799" formControlName="port" />
                        <div *ngIf="submittedCompanyData && fnameData.port.errors">
                            <div *ngIf="fnameData.port.errors.required">
                                <span class="error_msg text-danger">Port is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required" for="basic-default-phone">SMTP</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask" placeholder=""
                            formControlName="SMTP" />
                        <div *ngIf="submittedCompanyData && fnameData.SMTP.errors">
                            <div *ngIf="fnameData.SMTP.errors.required">
                                <span class="error_msg text-danger">SMTP is Required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex float-end">
                <div class="pe-3" *ngIf="isEditing === true">
                    <button type="submit" class="btn btn-primary" (click)="updateCompanySetting()">Save</button>
                </div>
                <div class="" *ngIf="isEditing === true" (click)="canclecompanySetting()">
                    <button type="submit" class="btn btn-outline-primary">Cancle</button>
                </div>
            </div>
        </div>
    </div>
</div>