<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Role Wise Menu</h4>
        <!-- <div>
            <button type="button" class="btn btn-primary" (click)="addMenu()">
                Add New
            </button>
        </div> -->
    </div>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-body">
            <h4 class="fw-bold pb-3 m-0">Role Wise MenuList</h4>
            <div class="row">

                <div class="col-lg-6">
                    <div>
                        <label class="form-label">Role</label>
                    </div>
                    <!-- <ng-select [items]="activeroleList" [(ngModel)]="selectedRole" class="form-control p-0" bindLabel="roleName" bindValue="_id" placeholder="Select Role"  (ngModelChange)="onRoleChange();">
                    </ng-select> -->
                    <ng-select [items]="activeroleList" [(ngModel)]="selectedRole" class="form-control p-0"
                        bindLabel="roleName" bindValue="_id" placeholder="Select Role">
                    </ng-select>
                </div>
            </div>
            <div class="row mt-4">
                <!-- <div class="col-lg-1">
                    <label class="form-label mt-2">Menu List</label>
                </div> -->
                <div class="col-lg-12">
                    <div class="text-nowrap">
                        <label class="form-label mt-2">Menu List</label>
                        <table class="table  menu-item">
                            <thead>
                                <tr>
                                    <th class="w-5"></th>
                                    <th class="w-5"></th>
                                    <th class="w-20">Menu Name</th>
                                    <th class="w-15">Create</th>
                                    <th class="w-15">Edit</th>
                                    <th class="w-15">View</th>
                                    <th class="w-15">Delete</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                <tr>
                                    <td class="w-5" [ngClass]="{'open':isRoleMenulistOpen === true} ">
                                        <a class="cursor-pointer" (click)="rolemenuList()">
                                            <i class="material-icons default-icon">add</i>
                                            <!-- <i class="material-icons active-icon">remove</i> -->
                                        </a>
                                    </td>
                                    <td class="w-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember-me" />
                                        </div>
                                    </td>
                                    <td class="w-20"><strong>Dashboard</strong></td>
                                    <td class="w-15">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember-me" />
                                        </div>
                                    </td>
                                    <td class="w-15">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember-me" />
                                        </div>
                                    </td>
                                    <td class="w-15">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember-me" />
                                        </div>
                                    </td>
                                    <td class="w-15">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember-me" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" class="p-0">
                                        <table class="table m-0">
                                            <tbody class="table-border-bottom-0">
                                                <tr>
                                                    <td class="w-5"></td>
                                                    <td class="w-5">
                                                        <div class="form-check ml-5">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="remember-me" />
                                                        </div>
                                                    </td>
                                                    <td class="w-20"><strong>Setting>>Menu Master</strong></td>
                                                    <td class="w-15">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="remember-me" />
                                                        </div>
                                                    </td>
                                                    <td class="w-15">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="remember-me" />
                                                        </div>
                                                    </td>
                                                    <td class="w-15">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="remember-me" />
                                                        </div>
                                                    </td>
                                                    <td class="w-15">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="remember-me" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>