<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Event Master</h4>
        <div>
            <button type="button" class="btn btn-primary" (click)="addEventmaster()">
                Add New
            </button>
        </div>
    </div>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th class="w-10">No</th>
                        <th class="w-70">Name</th>
                        <th class="w-10">Status</th>
                        <th class="w-10">Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr
                        *ngFor="let eventmasterData of eventmasterList | paginate: { itemsPerPage: l, currentPage: p }; let eventMasterIndex = index">
                        <td>{{ l * (p - 1) + eventMasterIndex + 1 }}</td>
                        <td><strong>{{ eventmasterData.name }}</strong></td>
                        <td>
                            <span *ngIf="eventmasterData.status == 1" class="badge bg-label-success me-1">Active</span>
                            <span *ngIf="eventmasterData.status == 2" class="badge bg-label-danger me-1">Deactive</span>
                        </td>
                        <td>
                            <div class=" d-flex">
                                <button class="btn-bg"
                                    (click)="editEventmaster({id : eventmasterData._id, index : eventMasterIndex})"><i
                                        class="bx bx-edit-alt"></i>
                                </button>
                                <button *ngIf="eventmasterData.status == 2" title="Active Event"
                                    (confirm-click)="statusEventmaster({id :eventmasterData._id,index:eventMasterIndex, status:1})"
                                    appConfirm [confirmTitle]="'Active'"
                                    [confirmContent]="'Are you sure to Active this Event Master?'"
                                    class="bg-label-success btn-bg bg-label-success">
                                    <i class="bx bx-plus"></i>
                                </button>
                                <button *ngIf="eventmasterData.status == 1" title="Deactive Event"
                                    (confirm-click)="statusEventmaster({id :eventmasterData._id,index:eventMasterIndex, status:2})"
                                    appConfirm [confirmTitle]="'Deactive'"
                                    [confirmContent]="'Are you sure to Deactive this Event Master?'"
                                    class="bg-label-danger btn-bg bg-label-danger">
                                    <i class="bx bx-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-pagination float-end mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<div class="modal fade" id="add-menu-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Add Event</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelEventmaster()"></button>
            </div>
            <div class="modal-body">
                <form role="form" class="add-employee-form" [formGroup]="eventmasterForm" autocomplete="off">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" />
                            <div *ngIf="submittedeventMasterData && fnameData.name.errors">
                                <div *ngIf="fnameData.name.errors.required">
                                    <span class="error_msg text-danger">Name is Required.</span>
                                </div>
                                <div *ngIf="fnameData.name.errors.pattern">
                                    <span class="error_msg text-danger">You use only A-Z Or a-z.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="ISeditEventMaster === false"
                    (click)="saveEventmaster()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="ISeditEventMaster === true"
                    (click)="updateEventmaster()">Update</button>
            </div>
        </div>
    </div>
</div>