<div class="container-fluid flex-grow-1 container-p-y">
    <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span>Add Package Master</h4>
    </div> -->
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Booking Confirm</h5>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body">
            <div class="row p-sm-3 p-0">
                <div class="col-md-6 col-sm-5 col-12 mb-sm-0 mb-4 ps-0">
                    <!-- <h6 class="pb-2">Client Details:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Name:</strong> </td>
                                <td class="text-muted">{{fbookingConfirmData?.name.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Email:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.email.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.primaryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact-2:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.secondryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Address:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.address.value}}</td>
                            </tr>

                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.reference_Name.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Details:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.reference_detail.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-7 pe-0">
                    <!-- <h6 class="pb-2">Bill To:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Party Plot:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.partyplotName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Event Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.eventName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Guest:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.guest.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Date:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value | date : 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Time:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value |
                                    date : 'hh:mm:ss a'}}&nbsp;-&nbsp;{{fbookingConfirmData?.endDateObj.value| date :
                                    'hh:mm:ss
                                    a'}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Client Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.client_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Offer Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.offer_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Remark:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.remark.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="my-3">

            <form role="form" class="add-employee-form" autocomplete="off" [formGroup]="bookingDataForm">
                <div>
                    <!-- <div class="row">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                    aria-label="john.doe" aria-describedby="basic-default-email2"
                                    formControlName="email" disabled />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" appNumbersOnly maxlength="10"
                                formControlName="primaryContact" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact-2</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly maxlength="10"
                                class="form-control phone-mask" placeholder="658 799 8941"
                                formControlName="secondryContact" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Address</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Address" formControlName="address" disabled></textarea>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="nameBasic" class="form-label">Party Plot</label>
                            <input type="text" id="basic-default-phone" class="form-control" placeholder="Party Plot"
                                formControlName="partyplotName" disabled />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="nameBasic" class="form-label">Reference Type</label>
                            <input type="text" id="basic-default-phone" class="form-control"
                                placeholder="Reference Type" formControlName="reference_Name" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Reference Details</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Reference Details" formControlName="reference_detail" disabled></textarea>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Package Select</label>
                            <ng-select [items]="packageList" [multiple]="false" class="form-control p-0 me-3"
                                bindLabel="packageName" bindValue="_id" [clearable]="false" formControlName="packageId"
                                (change)="onActivePackageChange($event)" placeholder="Select Package">
                            </ng-select>
                            <div *ngIf="submittedPackageSelectedData && fbookingConfirmData.packageId.errors">
                                <div *ngIf="fbookingConfirmData.packageId.errors.required">
                                    <span class="error_msg">Please Select Package.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div formArrayName="package">
                        <span [formGroupName]="i"
                            *ngFor=" let item of bookingDataForm.get('package')['controls']; let i = index">
                            <div class="text-center mt-3">
                                <h5 class="mb-0">{{item.value.categoryName}}</h5>
                                <!-- <span class="text-muted">{{item.value.categoryDescription}}</span> -->
                                <!-- <button type="button" class="btn btn-primary">Edit</button> -->
                            </div>
                            <!-- <div class="row">
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label for="nameBasic" class="form-label">Category Name</label>
                                    <input type="text" class="form-control" disabled id="basic-default-company"
                                        placeholder="Enter Category Name" formControlName="categoryName" />
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label for="nameBasic" class="form-label">Category Description</label>
                                    <textarea id="basic-default-message" style="height:38px;" class="form-control"
                                        placeholder="Description" disabled
                                        formControlName="categoryDescription"></textarea>
                                </div>
                            </div> -->
                            <div formArrayName="packageCategoryList">
                                <div class="d-sm-block d-lg-flex align-items-center clear-fix" [formGroupName]="x"
                                    *ngFor="let citem of item.get('packageCategoryList')['controls']; let x = index;">

                                    <div class="w-100">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div>
                                                    <!-- <label for="nameBasic" class="form-label">&nbsp;</label> -->
                                                    <h5 class="mb-0">{{x +1}} &nbsp;{{citem.value.item}}</h5>
                                                </div>
                                                <!-- <div>
                                                    <span class="text-muted">{{citem.value.description}}</span>
                                                </div> -->
                                            </div>

                                            <!-- <div class="col-lg-4 col-md-6 mb-3">
                                                <label class="form-label" for="basic-default-company">Item</label>
                                                <input type="text" disabled formControlName="item" class="form-control"
                                                    id="basic-default-company" placeholder="Enter Guest Count" />
                                            </div>
                                            <div class="col-lg-4 col-md-6 mb-3">
                                                <label for="nameBasic" class="form-label">Description</label>
                                                <textarea style="height:38px;" disabled id="basic-default-message"
                                                    formControlName="description" class="form-control"
                                                    placeholder="Description"></textarea>
                                            </div> -->
                                            <div class="col-lg-4 col-md-6 mb-3">
                                                <!-- <label class="form-label" for="basic-default-company">Quantity</label> -->
                                                <input type="text" class="form-control" id="basic-default-company"
                                                    formControlName="quantity" placeholder="Enter Quantity" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-3" *ngIf="i+1 != bookingDataForm.get('package')['controls'].length">
                        </span>
                    </div>
                    <hr class="my-3">
                    <div class="card-header d-flex justify-content-between align-items-center px-0">
                        <h5 class="mb-0">Extra Item</h5>
                    </div>
                    <div formArrayName="extradecoration">
                        <div class="d-sm-block d-lg-flex align-items-center clear-fix" [formGroupName]="y"
                            *ngFor="let citem of bookingDataForm.get('extradecoration')['controls']; let y = index;">
                            <div class="w-100">
                                <div class="row align-items-center clear-fix">
                                    <div class="col-lg-4 col-md-6 mb-3">
                                        <label class="form-label" for="basic-default-company">Item</label>
                                        <input type="text" formControlName="item" class="form-control"
                                            id="basic-default-company" placeholder="Enter Guest Count" />
                                        <div *ngIf="submittedExtraItemData[y] && citem.controls.item.errors">
                                            <div *ngIf="citem.controls.item.errors.required">
                                                <span class="error_msg">Item is Required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 mb-3">
                                        <label for="nameBasic" class="form-label">Description</label>
                                        <textarea style="height:38px;" id="basic-default-message"
                                            formControlName="description" class="form-control"
                                            placeholder="Description"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-md-6 mb-3">
                                        <label class="form-label" for="basic-default-company">Quantity</label>
                                        <input type="text" class="form-control" id="basic-default-company"
                                            formControlName="quantity" placeholder="Enter Quantity" />
                                        <div *ngIf="submittedExtraItemData[y] && citem.controls.quantity.errors">
                                            <div *ngIf="citem.controls.quantity.errors.required">
                                                <span class="error_msg">Quantity is Required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 mt-3">
                                        <button type="button" class="btn btn-label-danger" aria-label="Close"
                                            (click)="deletCategoryList(y)">
                                            <i class="bx bx-x"></i>
                                            <span class="align-middle">Delete</span>
                                        </button>
                                    </div>
                                </div>

                                <hr class="my-3">
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <button type="button" class="btn btn-primary"
                        [ngClass]="fbookingConfirmData.extradecoration.invalid == true ? 'disabled' : ''"
                        (click)="addExtraItem()">Add
                        Item</button>
                </div>
            </form>
            <div class="float-end">
                <button type="submit" class="btn btn-primary" (click)="saveBookingConfirmInquiryEvent()">Save
                    Booking</button>
            </div>
            <!-- <div>
                <button type="button" class="btn btn-primary mt-3">Add Category</button>
            </div> -->
        </div>
    </div>
</div>