<div class="container-fluid flex-grow-1 container-p-y">
    <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span>Add Package Master</h4>
    </div> -->
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Booking Confirm</h5>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body">
            <div class="row p-sm-3 p-0">
                <div class="col-md-6 col-sm-5 col-12 mb-sm-0 mb-4 ps-0">
                    <!-- <h6 class="pb-2">Client Details:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Name:</strong> </td>
                                <td class="text-muted">{{fbookingConfirmData?.name.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Email:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.email.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.primaryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Contact-2:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.secondryContact.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Address:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.address.value}}</td>
                            </tr>

                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.reference_Name.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Reference Details:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.reference_detail.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-7 pe-0">
                    <!-- <h6 class="pb-2">Bill To:</h6> -->
                    <table>
                        <tbody>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Party Plot:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.partyplotName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Event Type:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.eventName.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Guest:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.guest.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Date:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value | date : 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Time:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.startDateObj.value |
                                    date : 'hh:mm a':'+0000'}}&nbsp;-&nbsp;{{fbookingConfirmData?.endDateObj.value|
                                    date:'hh:mm a':'+0000' }}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Client Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.client_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-25 pe-2 "><strong>Offer Budget:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.offer_budget.value}}</td>
                            </tr>
                            <tr>
                                <td class="w-20 pe-2 "><strong>Remark:</strong></td>
                                <td class="text-muted">{{fbookingConfirmData?.remark.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Package</h5>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body">
            <form role="form" class="add-employee-form" autocomplete="off" [formGroup]="bookingDataForm">
                <div>
                    <!-- <div class="row">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                    aria-label="john.doe" aria-describedby="basic-default-email2"
                                    formControlName="email" disabled />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" appNumbersOnly maxlength="10"
                                formControlName="primaryContact" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact-2</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly maxlength="10"
                                class="form-control phone-mask" placeholder="658 799 8941"
                                formControlName="secondryContact" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Address</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Address" formControlName="address" disabled></textarea>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="nameBasic" class="form-label">Party Plot</label>
                            <input type="text" id="basic-default-phone" class="form-control" placeholder="Party Plot"
                                formControlName="partyplotName" disabled />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="nameBasic" class="form-label">Reference Type</label>
                            <input type="text" id="basic-default-phone" class="form-control"
                                placeholder="Reference Type" formControlName="reference_Name" disabled />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Reference Details</label>
                            <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                placeholder="Reference Details" formControlName="reference_detail" disabled></textarea>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label required">Package Select</label>
                            <ng-select [items]="packageList" [multiple]="false" class="form-control p-0 me-3"
                                bindLabel="packageName" bindValue="_id" [clearable]="false" formControlName="packageId"
                                (change)="onActivePackageChange($event)" placeholder="Select Package">
                            </ng-select>
                            <div *ngIf="submittedPackageSelectedData && fbookingConfirmData.packageId.errors">
                                <div *ngIf="fbookingConfirmData.packageId.errors.required">
                                    <span class="error_msg">Please Select Package.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class=" table-responsive" formArrayName="package"
                        *ngIf="!!fbookingConfirmData.packageId.value">
                        <thead>
                            <tr class="boader-bottom-1">
                                <th class="text-center w-5">Sr. No.</th>
                                <th class="w-80">Particular</th>
                                <th class="qty-width">Qty/Size</th>
                            </tr>
                        </thead>
                        <tr [formGroupName]="i"
                            *ngFor=" let item of bookingDataForm.get('package')['controls']; let i = index">
                            <td colspan="3" style="text-align:center;">
                                <div class="text-center my-3">
                                    <h5 class="mb-0"><strong>{{item.value.categoryName}}</strong></h5>
                                    <!-- <span class="text-muted">{{item.value.categoryDescription}}</span> -->
                                    <!-- <button type="button" class="btn btn-primary">Edit</button> -->
                                </div>
                                <table class="w-100 table-border" formArrayName="packageCategoryList">
                                    <tr [formGroupName]="x" class="boader-top-1"
                                        *ngFor="let citem of item.get('packageCategoryList')['controls']; let x = index;">
                                        <td class="text-center w-5">{{x +1}}</td>
                                        <td class="text-start w-80">{{citem.value.item}}</td>
                                        <td class="qty-width text-start">
                                            <input type="text" class="form-control" id="basic-default-company"
                                                formControlName="quantity" placeholder="Enter Quantity" />
                                        </td>
                                    </tr>
                                    <!-- <hr class="my-3" *ngIf="i+1 != bookingDataForm.get('package')['controls'].length"> -->
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4" *ngIf="!!fbookingConfirmData.packageId.value">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Extra Item</h5>
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        </div>
        <div class="card-body">
            <form role="form" class="p-0 add-employee-form" autocomplete="off" [formGroup]="bookingDataForm">
                <div class="row p-sm-3 p-0">
                    <table class="table-border" formArrayName="extradecoration" *ngIf="eventList.length != 0">
                        <tr class="boader-bottom-1">
                            <th class="text-center w-5">Sr. No.</th>
                            <th class=" w-30 required">Item</th>
                            <!-- <th class=" w-50 ">Description</th> -->
                            <th class="qty-width required">Qty/Size</th>
                            <th class="qty-width">Action</th>
                        </tr>
                        <tr class="" [formGroupName]="y" 
                            *ngFor="let citem of bookingDataForm.get('extradecoration')['controls']; let y = index;">
                            <td class="text-center w-5">{{y + 1}}</td>
                            <td class="w-30">
                                <input type="text" formControlName="item" class="form-control"
                                    id="basic-default-company" placeholder="Enter Item" />
                                <div *ngIf="submittedExtraItemData[y] && citem.controls.item.errors">
                                    <div *ngIf="citem.controls.item.errors.required">
                                        <span class="error_msg">Item is Required.</span>
                                    </div>
                                </div>
                            </td>
                            <!-- <td class="w-50">
                                <textarea style="height:38px;" id="basic-default-message" formControlName="description"
                                    class="form-control" placeholder="Description"></textarea>
                            </td> -->
                            <td class="qty-width">
                                <input type="text" class="form-control" id="basic-default-company"
                                    formControlName="quantity" placeholder="Enter Quantity" />
                                <div *ngIf="submittedExtraItemData[y] && citem.controls.quantity.errors">
                                    <div *ngIf="citem.controls.quantity.errors.required">
                                        <span class="error_msg">Quantity is Required.</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button (click)="deletCategoryList(y)" class="bg-label-danger btn-bg bg-label-danger"
                                    tooltip="Delete" placement="bottom" showDelay="100">
                                    <i class="bx bx-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn bg-label-success btn-bg bg-label-success"
                        [ngClass]="fbookingConfirmData.extradecoration.invalid == true ? 'disabled' : ''"
                        (click)="addExtraItem()"><i class="bx bx-plus" tooltip="Add" placement="bottom"
                            showDelay="100"></i></button>
                </div>
                <div *ngIf="eventList.length != 0">
                    <hr class="mb-3" *ngIf="eventList.length != 0">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-company">Extra Decor
                            Budget</label>

                        <input type="text" appNumbersOnly class="form-control" id="basic-default-company"
                            placeholder="Extra Decor Budget" formControlName="extraDecorBudget" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="float-end mb-3">
        <button type="submit" class="btn btn-primary" (click)="saveBookingConfirmInquiryEvent()">Save
            Booking</button>
    </div>
</div>