<div class="container-fluid flex-grow-1 container-p-y">

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-body p-0">
            <div class="d-md-flex justify-content-between align-items-center mb-3 p-4">
                <div class="card border-solid-primary flex-row align-items-center ps-2">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                        aria-label="Search..." />
                    <!-- aria-label="Search..." (input)="search($event.target.value)" /> -->
                </div>
                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Party Plot Master</h4> -->
                <div class="btn-cus">
                    <!-- <button type="button" class="btn btn-primary" (click)="addPartyplot()"> -->
                    <button type="button" class="btn btn-primary">
                        Add New
                    </button>
                </div>
            </div>
            <div class="text-nowrap table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>Package Name</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr
                            *ngFor="let packageMasterData of packageMasterList | paginate: { itemsPerPage: l, currentPage: p }; let partyPlotIndex = index">
                            <td>{{ l * (p - 1) + partyPlotIndex + 1 }}</td>
                            <td>
                                <span *ngIf="packageMasterData.status == 1"
                                    class="badge bg-label-success me-1">Active</span>
                                <span *ngIf="packageMasterData.status == 2"
                                    class="badge bg-label-danger me-1">Deactive</span>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <button class="btn-bg" (click)="editPackageMaster(packageMasterData._id)"><i
                                            class="bx bx-edit-alt"></i>
                                    </button>
                                    <button *ngIf="packageMasterData.status == 2" title="Active Package"
                                        (confirm-click)="statusPackage({id :packageMasterData._id, status:1})"
                                        appConfirm [confirmTitle]="'Active'"
                                        [confirmContent]="'Are you sure to Active this Package Master?'"
                                        class="bg-label-success btn-bg bg-label-success">
                                        <i class="bx bx-plus"></i>
                                    </button>
                                    <button *ngIf="packageMasterData.status == 1" title="Deactive Package"
                                        (confirm-click)="statusPackage({id :packageMasterData._id, status:2})"
                                        appConfirm [confirmTitle]="'Deactive'"
                                        [confirmContent]="'Are you sure to Deactive this Package Master?'"
                                        class="bg-label-danger btn-bg bg-label-danger">
                                        <i class="bx bx-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td><strong>{{ packageMasterData.packageName }}</strong></td>
                        </tr>
                        <tr *ngIf="noData">
                            <td colspan="6">
                                <h4 class="text-center mt-3">No Data Found</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-pagination float-end mt-3 p-4" *ngIf="!noData">
                <pagination-controls (pageChange)="p = $event" *ngIf="packageMasterList.length > l">
                </pagination-controls>
            </div>
        </div>

    </div>

    <div class="content-backdrop fade"></div>
</div>