<div class="container-fluid flex-grow-1 container-p-y">
    <div>
        <div class="card">
            <div class="card-body p-0">
                <div class="">
                    <div class="p-4 btn-cus position-relative">
                        <div class="dropdown-search">

                            <ng-select [items]="partyplotListforcricket" [multiple]="false"
                                class="form-control p-0 me-3" bindLabel="name" bindValue="_id"
                                [(ngModel)]="searchedPartyplot" [clearable]="false" [searchable]="false"
                                (change)="partyplotChange()" placeholder="Select Party Plot">
                            </ng-select>

                        </div>
                        <full-calendar #calendar [options]="calendarOptions">
                        </full-calendar>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="cricket-slotbook-by-date-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-height-calc">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Cricket Booking Slot</strong></h5>
                <button type="button" class="btn-close" (click)="closeBookSlot()"></button>
            </div>
            <div class="modal-body modal-scroll inquiry-bydate">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="float-end">Date - {{slotDate | date:'dd/MM/yyyy' }}</h5>
                            <div *ngIf="isFullDayShow === true"><input type="checkbox" class="form-check-input mb-3"
                                    [(ngModel)]="isFullDaySlot" [disabled]="isFullDayBooked == true"
                                    (change)="dayTypeEvent({checked: $event.target.checked})" /> Full Day</div>
                            <div class="col-md-4 mb-md-0 mb-2"
                                *ngFor="let slotListByDateData of slotListByDate;let slotListByDateIndex = index">
                                <button class="form-check custom-option custom-option-image custom-option-image-check"
                                    [ngClass]="{'custom-option-booked' : slotListByDateData.isbooked == 1 ,
                                    'custom-option-pending' : isCheck[slotListByDateIndex] == true && slotListByDateData.isbooked == 0,
                                'disabled' : slotDisable[slotListByDateIndex] == true}"
                                    (click)="getSlotIdOnChecked({slotData:slotListByDateData, index:slotListByDateIndex})" 
                                    [disabled]="slotDisable[slotListByDateIndex] == true">
                                    <label class="form-check-label custom-option-content"
                                        for="{{slotListByDateData._id}}">
                                        <span class="custom-option-body">
                                            <!-- 7:00 AM TO 10:00 AM -->
                                            {{slotListByDateData.time}}
                                        </span>
                                    </label>
                                </button>
                            </div>
                        </div>
                        <div class="row" *ngIf="bookingDataFlag === true">
                            <div class="col-lg-12">
                                <hr>
                                <div class="text-end" *ngIf="isFullDaySlot === false">
                                    <button class="btn event-btn-close" (click)="bookingDataFlag = false"></button>
                                </div>
                                <div class="accordion-collapse collapse show">
                                    <div class="">
                                        <div class="inquiry-bydate-list-item">
                                            <div class="d-flex align-items-center justify-content-end">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-11">
                                                    <ul class="list-unstyled mt-3">
                                                        <li class="mb-2 accordion-data" *ngIf="!!bookingData?.name">
                                                            <i class="bx bx-user"></i>
                                                            <div>
                                                                <span>Name:</span>
                                                                <span class="mx-0">{{bookingData?.name}}</span>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2 accordion-data" *ngIf="!!bookingData?.email">
                                                            <i class="bx bx-envelope"></i>
                                                            <div>
                                                                <span>Email:</span>
                                                                <span class="mx-0">{{bookingData?.email}}</span>
                                                            </div>
                                                        </li>

                                                        <li class="mb-2 accordion-data" *ngIf="!!bookingData?.primaryContact">
                                                            <i class="bx bx-phone"></i>
                                                            <div>
                                                                <span>Conatact:</span>
                                                                <span class="mx-0">{{bookingData?.primaryContact}}
                                                                    <span
                                                                        *ngIf="!!bookingData?.secondaryContact">,</span>
                                                                    {{bookingData?.secondaryContact}}</span>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2 accordion-data" *ngIf="!!bookingData?.time">
                                                            <i class="bx bx-time"></i>
                                                            <div>
                                                                <span>Slot Time:</span>
                                                                <span class="mx-0">{{bookingData?.time}}</span>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2 accordion-data" *ngIf="!!bookingData?.address">
                                                            <i class="bx bx-map"></i>
                                                            <div>
                                                                <span>Address:</span>
                                                                <span class="mx-0">{{bookingData?.address}}</span>
                                                            </div>
                                                        </li>
                                                        <li class="mb-2 accordion-data" *ngIf="!!bookingData?.remark">
                                                            <i class="bx bx-info-circle"></i>
                                                            <div>
                                                                <span>Remark:</span>
                                                                <span class="mx-0">{{bookingData?.remark}}</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-1 col-md-3 col-sm-3 col-3">
                                                    <div class="d-flex" *ngIf="isPastDate == false">
                                                        <div class="dropdown mt-3">
                                                            <button class="btn p-0" type="button" id="cardOpt6"
                                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <i class="bx bx-dots-vertical-rounded"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="cardOpt6">
                                                                <a class=" dropdown-item"
                                                                    (click)="cancelcricketBookingConfirm(bookingData?._id)">Booking
                                                                    Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" *ngIf="isSlotBooked == true"
                        (click)="slotBook()">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-cricket-details-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-height-calc">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Cricket Booking Details</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeBookDetails()"></button>
            </div>
            <div class="modal-body modal-scroll inquiry-bydate">
                <form [formGroup]="cricketBookingForm">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-2" *ngFor="let slotData of slotTime;let slotTime = index">
                            <div
                                class="form-check custom-option custom-option-pending custom-option-image custom-option-image-check">
                                <label class="form-check-label custom-option-content">
                                    <span class="custom-option-body">
                                        <!-- 7:00 AM TO 10:00 AM -->
                                        {{slotData}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label required">Name</label>
                            <input type="text" id="name" class="form-control" placeholder="Enter Name"
                                formControlName="name" />
                            <div *ngIf="submittedcricketBookingData && fcricketBookingData.name.errors">
                                <div *ngIf="fcricketBookingData.name.errors.required">
                                    <span class="error_msg">Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label">Email</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="email" class="form-control" placeholder="john.doe"
                                    aria-label="john.doe" aria-describedby="basic-default-email2"
                                    formControlName="email" />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                            <div *ngIf="submittedcricketBookingData && fcricketBookingData.email.errors">
                                <div *ngIf="fcricketBookingData.email.errors.required">
                                    <span class="error_msg">Email is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label required">Contact</label>
                            <input type="text" id="conatct1" class="form-control phone-mask" placeholder="658 799 8941"
                                appNumbersOnly formControlName="primaryContact" />
                            <div *ngIf="submittedcricketBookingData && fcricketBookingData.primaryContact.errors">
                                <div *ngIf="fcricketBookingData.primaryContact.errors.required">
                                    <span class="error_msg">Contact is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label">Contact-2</label>
                            <input type="text" id="contact2" appNumbersOnly class="form-control phone-mask"
                                placeholder="658 799 8941" formControlName="secondaryContact" />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Address</label>
                            <textarea id="address" class="form-control" placeholder=""
                                formControlName="address"></textarea>
                            <div *ngIf="submittedcricketBookingData && fcricketBookingData.address.errors">
                                <div *ngIf="fcricketBookingData.address.errors.required">
                                    <span class="error_msg">Address is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Remark</label>
                            <textarea id="address" class="form-control" placeholder="remark"
                                formControlName="remark"></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="html5-date-input" class="form-label">Date</label>
                            <div class="position-relative mat-date-picker">
                                <input matInput disabled="" [matDatepicker]="picker1" class="form-control"
                                    formControlName="date">
                                <div class="mat-dat-picker-icon">
                                    <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Select Party Plot</label>
                            <ng-select readonly="true" [items]="partyplotListforcricket" [multiple]="false"
                                [searchable]="false" class="form-control p-0 me-3" bindLabel="name" bindValue="_id"
                                formControlName="partyplotId" placeholder="Select Party Plot">
                            </ng-select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" (click)="savecricketData()">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>