.doc-text-ellipsis{
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.doc-file {
    display: flex;
    align-items: center;
}
.doc-file-scroll {
    max-height: 110px;
    overflow-y: auto;
    overflow-x: hidden;
}