<div class="container-fluid flex-grow-1 container-p-y">

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-body p-0">
            <div class="d-md-flex justify-content-between align-items-center mb-3 p-4">
                <div class="card border-solid-primary flex-row align-items-center ps-2">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                        aria-label="Search..." (input)="search($event.target.value)" />
                </div>
                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Staff</h4> -->
                <div class="btn-cus">
                    <button type="button" class="btn btn-primary" (click)="addStaff()">
                        Add New
                    </button>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-5">No</th>
                            <!-- <th>View</th> -->
                            <th class="w-10">Status</th>
                            <th class="w-15">Action</th>
                            <th>Name</th>
                            <th>mobile Number</th>
                            <th>Reference</th>
                            <!-- <th>Aadhar Card</th> -->
                            <th>Email ID</th>
                            <th>Party Plot</th>
                            <th>Designation</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr
                            *ngFor="let staffData of staffList | paginate: { itemsPerPage: l, currentPage: p }; let staffIndex = index">
                            <td>{{ l * (p - 1) + staffIndex + 1 }}</td>
                            <td>
                                <span *ngIf="staffData.status == 1" class="badge bg-label-success me-1">Active</span>
                                <span *ngIf="staffData.status == 2" class="badge bg-label-danger me-1">Deactive</span>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <button class="btn-bg" (click)="editStaff({id : staffData._id, index : staffIndex, action: 'view'});">
                                        <i class="bx bxs-show"></i>
                                    </button>
                                    <button class="btn-bg"
                                        (click)="editStaff({id : staffData._id, index : staffIndex, action: 'edit'})">
                                        <i class="bx bx-edit-alt "></i>
                                    </button>
                                    <!-- <button class="btn-bg bg-label-danger" href="javascript:void(0);"><i
                                            class="bx bx-trash "></i>
                                    </button> -->

                                    <button *ngIf="staffData.status == 2" class="dtl-btn btn bg-gradient-dark"
                                        title="Active Staff"
                                        (confirm-click)="statusStaffmaster({id :staffData._id, index : staffIndex, status:1})"
                                        appConfirm [confirmTitle]="'Active'"
                                        [confirmContent]="'Are you sure to Active this Staff?'"
                                        class="btn-bg bg-label-success"><i class="bx bx-plus"></i></button>
                                    <button *ngIf="staffData.status == 1" class="dtl-btn btn bg-gradient-dark"
                                        title="Deactive Staff"
                                        (confirm-click)="statusStaffmaster({id :staffData._id, index : staffIndex, status:2})"
                                        appConfirm [confirmTitle]="'Deactive'"
                                        [confirmContent]="'Are you sure to Deactive this Staff?'"
                                        class="btn-bg bg-label-danger"><i class="bx bx-trash"></i></button>
                                </div>
                            </td>
                            <td><strong>{{staffData.name}}</strong></td>
                            <td>{{staffData.contact}}</td>
                            <td>{{staffData.reference}}</td>
                            <!-- <td>{{staffData.aadharcardNo | mask: '0000 0000 0000'}}</td> -->
                            <td>{{staffData.email}}</td>
                            <td>
                                <span
                                    *ngFor="let partyplotname of staffData.partyplotData; let eventIndex = index"><span
                                        *ngIf="eventIndex > 0">,&nbsp;</span>{{partyplotname.name}}</span>
                            </td>
                            <td>{{staffData.roleName}}</td>
                        </tr>
                        <tr *ngIf="noData">
                            <td colspan="10">
                                <h4 class="text-center mt-3">No Data Found</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-pagination float-end mt-3 p-4" *ngIf="!noData">
                <pagination-controls (pageChange)="p = $event" *ngIf="staffList?.length > l"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<div class="modal fade" id="add-staff-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="ISviewStaff === true" id="exampleModalLabel1"><strong>View Staff Details</strong></h5>
                <h5 class="modal-title" *ngIf="ISviewStaff === false" id="exampleModalLabel1"><strong>{{ISeditStaff ?
                        'Edit' : 'Add'}} Staff Details</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelStaff()"></button>
            </div>
            <div class="modal-body">
                <form role="form" class="add-employee-form" [formGroup]="staffForm" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" [readonly]="ISviewStaff === true" placeholder="Enter Name"
                                formControlName="name" />
                            <div *ngIf="submittedStaffData && fnameData.name.errors">
                                <div *ngIf="fnameData.name.errors.required">
                                    <span class="error_msg text-danger">Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label class="form-label" for="basic-default-phone">Phone No</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask" [readonly]="ISviewStaff === true"
                                placeholder="658 799 8941" formControlName="contact" maxlength="10" minlength="10"
                                appNumbersOnly>
                            <div *ngIf="submittedStaffData && fnameData.contact.errors">
                                <div *ngIf="fnameData.contact.errors.required">
                                    <span class="error_msg text-danger">Contact is Required.</span>
                                </div>
                                <div *ngIf="fnameData.contact.errors.pattern">
                                    <span class="error_msg text-danger">Please, Enter Valid Number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label class="form-label" for="basic-default-company">Reference</label>
                            <input type="text" class="form-control" id="basic-default-company" placeholder="Reference" [readonly]="ISviewStaff === true"
                                formControlName="reference">
                        </div>
                        <!-- <div class="col-lg-4 mb-3">
                            <label class="form-label" for="basic-default-phone">Aadhar Card</label>
                            <input type="text" id="basic-default-aadhar-card" class="form-control phone-mask"
                                mask="0000 0000 0000" placeholder="9999 9999 9999" formControlName="aadharcardNo">
                        </div> -->
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Email</label>
                            <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe" [readonly]="ISviewStaff === true"
                                aria-label="john.doe" aria-describedby="basic-default-email2" formControlName="email">
                            <div *ngIf="submittedStaffData && fnameData.email.errors">
                                <div *ngIf="fnameData.email.errors.required">
                                    <span class="error_msg text-danger">Email is Required.</span>
                                </div>
                                <div *ngIf="fnameData.email.errors.email">
                                    <span class="error_msg text-danger">Email must be a valid email address.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Designation</label>
                            <ng-select [items]="activeroleList" class="form-control p-0" bindLabel="roleName" [readonly]="ISviewStaff === true"
                                bindValue="_id" placeholder="Select Role" formControlName="roleId">
                            </ng-select>
                            <div *ngIf="submittedStaffData && roleInvalid === true">
                                <span class="error_msg text-danger">Designation is Required.</span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Select Party plot</label>
                            <ng-select [items]="partyplotList" [multiple]="true" [closeOnSelect]="false" [readonly]="ISviewStaff === true"
                                class="form-control p-0" bindLabel="name" bindValue="_id"
                                formControlName="partyplotData" placeholder="Select Module">
                            </ng-select>
                            <div *ngIf="submittedStaffData && partyplotInvalid === true">
                                <span class="error_msg text-danger">Party plot is Required.</span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="nameBasic" class="form-label">Is Login?</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" formControlName="isLogin" [readonly]="ISviewStaff === true"
                                    (change)="isloginOnchange({checked: $event.target.checked})" />
                            </div>
                        </div>
                    </div>
                    <div *ngIf="ISeditStaff === true || ISviewStaff === true">
                        <label for="nameBasic" class="form-label">Documents</label>
                        <div class="doc-file-scroll">
                            <div class="row">
                                <div class="col-lg-4 mb-3" *ngFor="let documentData of StaffDocumentList">
                                    <div class="doc-file form-control">
                                        <p class="doc-text-ellipsis">{{documentData.originalName}} </p>
                                        <a *ngIf="ISviewStaff === true"
                                            [href]="this.commonService.rootData.uploadsUrl + 'documents/' + documentData.documents"
                                            target="_blank" [download]="documentData.documents"
                                            class="download-btn ml-10"></a>
                                        <button type="button" *ngIf="ISeditStaff === true"
                                            (click)="deletDocument(documentData._id)"
                                            class="event-btn-close ml-10"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" *ngIf="ISviewStaff === false" (click)="addDoc()" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="ISeditStaff === false"
                    (click)="savestaff()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="ISeditStaff === true"
                    (click)="updatestaff()">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-document-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>{{ISeditStaff ?
                        'Add' : 'Edit'}} Document</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelDoc()"></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <label for="formFile" class="form-label">Upload Documemt</label>
                    <input class="form-control" type="file" accept="image/* , .pdf" #filedocument
                        (change)="onDocumentChange($event)">
                    <!-- for new document remove and show  -->
                    <div>
                        <!-- <div class="imgUpload" *ngIf="imgURLlogo">
                    <img [src]="imgURLlogo" alt="" width="100">
                    <button type="button" class="btn-close ml-10" (click)="removeURLlogo()"></button>
                </div> -->
                        <div class="doc-file form-control" *ngIf="!!userFile">
                            <p class="doc-text-ellipsis">{{userFile?.name}}</p>
                            <button type="button" class="event-btn-close ml-10"
                                (click)="removeDocument()"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="savedoc()">Save</button>
                <!-- <button type="button" class="btn btn-primary" *ngIf="ISeditStaff === true"
                    (click)="updatestaff()">Update</button> -->
            </div>
        </div>
    </div>
</div>