<div class="container-fluid flex-grow-1 container-p-y">
    <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Reference Master</h4>
        <div>
            <button type="button" class="btn btn-primary" (click)="addReference()">
                Add New
            </button>
        </div>
    </div> -->

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-body p-0">
            <div class="d-md-flex justify-content-between align-items-center mb-3 p-4">
                <div class="card border-solid-primary flex-row align-items-center ps-2">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                        aria-label="Search..." (input)="search($event.target.value)" />
                </div>
                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Vendor Details</h4> -->
                <div class="btn-cus">
                    <button type="button" class="btn btn-primary" (click)="addReference()">
                        Add New
                    </button>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-10">No</th>
                            <th class="w-10">Status</th>
                            <th class="w-10">Action</th>
                            <th class="w-70">Reference Type</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr
                            *ngFor="let referencemasterData of referencemasterList | paginate: { itemsPerPage: l, currentPage: p }; let referenceMasterIndex = index">
                            <td>{{ l * (p - 1) + referenceMasterIndex + 1 }}</td>
                            <td>
                                <span *ngIf="referencemasterData.status == 1"
                                    class="badge bg-label-success me-1">Active</span>
                                <span *ngIf="referencemasterData.status == 2"
                                    class="badge bg-label-danger me-1">Deactive</span>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <button class="btn-bg"
                                        (click)="editReferencemaster({id : referencemasterData._id, index : referenceMasterIndex})"><i
                                            class="bx bx-edit-alt "></i>
                                    </button>
                                    <button *ngIf="referencemasterData.status == 2" class="dtl-btn btn bg-gradient-dark"
                                        title="Active Reference"
                                        (confirm-click)="statusReferencemaster({id :referencemasterData._id,index:referenceMasterIndex, status:1})"
                                        appConfirm [confirmTitle]="'Active'"
                                        [confirmContent]="'Are you sure to Active this Reference Master?'"
                                        class="btn-bg bg-label-success"><i class="bx bx-plus"></i></button>
                                    <button *ngIf="referencemasterData.status == 1" class="dtl-btn btn bg-gradient-dark"
                                        title="Deactive Reference"
                                        (confirm-click)="statusReferencemaster({id :referencemasterData._id,index:referenceMasterIndex, status:2})"
                                        appConfirm [confirmTitle]="'Deactive'"
                                        [confirmContent]="'Are you sure to Deactive this Reference Master?'"
                                        class="btn-bg bg-label-danger"><i class="bx bx-trash"></i></button>
                                </div>
                            </td>
                            <td>{{ referencemasterData.referenceName }}</td>
                        </tr>
                        <tr *ngIf="noData">
                            <td colspan="4">
                                <h4 class="text-center mt-3">No Data Found</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-pagination float-end mt-3 p-4" *ngIf="!noData">
                <pagination-controls (pageChange)="p = $event" *ngIf="referencemasterList.length > l">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<div class="modal fade" id="add-reference-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" reference="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>{{ISeditReferenceMaster ?
                        'Edit' : 'Add New'}} Reference Type</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelReferencemaster()"></button>
            </div>
            <div class="modal-body">
                <form reference="form" class="add-employee-form" [formGroup]="referencemasterForm" autocomplete="off">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Reference Type</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="referenceName" />
                            <div *ngIf="submittedreferenceMasterData && fReferencenameData.referenceName.errors">
                                <div *ngIf="fReferencenameData.referenceName.errors.required">
                                    <span class="error_msg">Reference Type is Required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="ISeditReferenceMaster === false"
                    (click)="saveReferencemaster()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="ISeditReferenceMaster === true"
                    (click)="updateReferencemaster()">Update</button>
            </div>
        </div>
    </div>
</div>