<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span>Add Inquiry</h4>
        <!-- <div>
            <button type="button" class="btn btn-primary" (click)="addInquiry()">
                Add New
            </button>
        </div> -->
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Add Inquiry</h5>
            <div *ngIf="fclientinquiryData._id.value != '0'">
                <button type="button" class="btn btn-primary" *ngIf="viewInquiry === true"
                    (click)="enableOnlyClientInquiryInput()">Edit</button>
                <button type="button" class="btn btn-primary me-3" *ngIf="viewInquiry === false"
                    (click)="updateClientInquiryData()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="viewInquiry === false"
                    (click)="diableOnlyClientInquiryInput()">Cancel</button>
            </div>
        </div>
        <div class="card-body">
            <form role="form" class="add-employee-form" autocomplete="off" [formGroup]="clientinquiryDataForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label for="nameBasic" class="form-label">Name</label>
                        <input type="text" [readonly]="viewInquiry === true" id="nameBasic" class="form-control"
                            placeholder="Enter Name" formControlName="name" />
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.name.errors">
                            <div *ngIf="fclientinquiryData.name.errors.required">
                                <span class="error_msg">Name is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-email">Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" [readonly]="viewInquiry === true" id="basic-default-email"
                                class="form-control" placeholder="john.doe" aria-label="john.doe"
                                aria-describedby="basic-default-email2" formControlName="email" />
                            <span class="input-group-text" id="basic-default-email2">@example.com</span>
                        </div>
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.email.errors">
                            <div *ngIf="fclientinquiryData.email.errors.required">
                                <span class="error_msg">Email is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Contact</label>
                        <input type="text" [readonly]="viewInquiry === true" id="basic-default-phone"
                            class="form-control phone-mask" placeholder="658 799 8941" appNumbersOnly maxlength="10"
                            formControlName="primaryContact" />
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.primaryContact.errors">
                            <div *ngIf="fclientinquiryData.primaryContact.errors.required">
                                <span class="error_msg">Contact is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Contact-2</label>
                        <input type="text" [readonly]="viewInquiry === true" id="basic-default-phone" appNumbersOnly
                            maxlength="10" class="form-control phone-mask" placeholder="658 799 8941"
                            formControlName="secondryContact" />
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label for="nameBasic" class="form-label">Address</label>
                        <textarea style="height:38px;" [readonly]="viewInquiry === true" id="basic-default-message"
                            class="form-control" placeholder="Address" formControlName="address"></textarea>
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.address.errors">
                            <div *ngIf="fclientinquiryData.address.errors.required">
                                <span class="error_msg">Address is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Select Party Plot</label>
                        <ng-select [items]="assignpartyplotList" [readonly]="viewInquiry === true" [multiple]="false"
                            class="form-control p-0 me-3" bindLabel="name" bindValue="_id"
                            formControlName="partyplot_ID" placeholder="Select Party Plot">
                        </ng-select>
                        <!-- <div *ngIf="submittedStaffData && partyplotInvalid === true">
                            <span class="error_msg text-danger">Party plot is Required.</span>
                        </div> -->
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label">Select Reference Type</label>
                        <ng-select [items]="referenceActiveList" [readonly]="viewInquiry === true" [multiple]="false"
                            class="form-control p-0" bindLabel="referenceName" bindValue="_id"
                            formControlName="reference_ID" placeholder="Select Reference Type">
                        </ng-select>
                        <!-- <div *ngIf="submittedStaffData && partyplotInvalid === true">
                            <span class="error_msg text-danger">Party plot is Required.</span>
                        </div> -->
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label for="nameBasic" class="form-label">Reference Details</label>
                        <textarea style="height:38px;" [readonly]="viewInquiry === true" id="basic-default-message"
                            class="form-control" placeholder="Reference Details"
                            formControlName="reference_detail"></textarea>
                    </div>
                </div>
                <div class="card-header d-flex justify-content-between align-items-center px-0">
                    <h5 class="mb-0">Event</h5>
                </div>
                <div formArrayName="events">
                    <div class="d-sm-block d-lg-flex align-items-center clear-fix" [formGroupName]="i"
                        *ngFor="let item of clientinquiryDataForm.get('events')['controls']; let i = index;">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="nameBasic" class="form-label">Event Type</label>
                                    <ng-select [items]="eventActiveList" class="form-control p-0" bindLabel="name"
                                        bindValue="_id" placeholder="Select Event" formControlName="eventType">
                                    </ng-select>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label class="form-label" for="basic-default-company">Guest</label>
                                    <input type="text" appNumbersOnly class="form-control" id="basic-default-company"
                                        placeholder="Enter Guest Count" formControlName="guest" />
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label for="html5-date-input" class="form-label">Date</label>
                                    <div class="position-relative mat-date-picker">
                                        <input matInput [matDatepicker]="picker1" [min]="minDate" class="form-control"
                                            formControlName="Date">
                                        <div class="mat-dat-picker-icon">
                                            <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label class="form-label" for="basic-default-company">Start Time</label>
                                    <ng-select [items]="timeRange" [multiple]="false" class="form-control p-0"
                                        bindLabel="name" bindValue="value" formControlName="startTimeObj"
                                        placeholder="Select Start Time">
                                    </ng-select>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label class="form-label" for="basic-default-company">End Time</label>
                                    <ng-select [items]="timeRange" [multiple]="false" class="form-control p-0"
                                        bindLabel="name" bindValue="value" formControlName="endTimeObj"
                                        placeholder="Select End Time">
                                    </ng-select>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label class="form-label" for="basic-default-company">Client budget</label>
                                    <input type="text" appNumbersOnly class="form-control" id="basic-default-company"
                                        placeholder="Enter budget" formControlName="client_budget" />
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label class="form-label" for="basic-default-company">Offer budget</label>
                                    <input type="text" appNumbersOnly class="form-control" id="basic-default-company"
                                        placeholder="Enter budget" formControlName="offer_budget" />
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label for="nameBasic" class="form-label">Remark</label>
                                    <textarea style="height:38px;" id="basic-default-message" class="form-control"
                                        placeholder="Remark" formControlName="remark"></textarea>
                                </div>
                            </div>
                            <div class="mb-3" *ngIf="fclientinquiryData._id.value != '0'">
                                <button type="button" class="btn btn-primary me-3"
                                    *ngIf="viewInquiryFormArray[i] == true"
                                    (click)="enableClientInquiryEventIndexWise(i)">Edit</button>
                                <button type="button" class="btn btn-primary me-3"
                                    *ngIf="viewInquiryFormArray[i] == false"
                                    (click)="saveUpdateEventInquiryData(i)">Save</button>
                                <button type="button" class="btn btn-primary me-3"
                                    *ngIf="viewInquiryFormArray[i] == false"
                                    (click)="disableClientInquiryEventIndexWise(i)">Cancel</button>
                                <button type="button" *ngIf="item.value._id != '0'" class="btn btn-label-danger"
                                    title="Delete Event" (confirm-click)="deletEventList(i)" appConfirm
                                    [confirmTitle]="'Delete Event'"
                                    [confirmContent]="'Are you sure to Delete this Event?'" aria-label="Close">
                                    <i class="bx bx-x"></i>
                                    <span class="align-middle">Delete</span>
                                </button>
                            </div>
                            <hr class="my-3">
                        </div>
                    </div>

                </div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="addEventList()">Add</button>
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-primary" (click)="saveClientInquiry()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>