<div class="container-fluid flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span>Add Inquiry</h4>
        <!-- <div>
            <button type="button" class="btn btn-primary" (click)="addInquiry()">
                Add New
            </button>
        </div> -->
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Add Inquiry</h5>
        </div>
        <div class="card-body">
            <form role="form" class="add-employee-form" autocomplete="off" [formGroup]="clientinquiryDataForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label for="nameBasic" class="form-label">Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                            formControlName="name" />
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.name.errors">
                            <div *ngIf="fclientinquiryData.name.errors.required">
                                <span class="error_msg">Name is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-email">Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                aria-label="john.doe" aria-describedby="basic-default-email2" formControlName="email" />
                            <span class="input-group-text" id="basic-default-email2">@example.com</span>
                        </div>
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.email.errors">
                            <div *ngIf="fclientinquiryData.email.errors.required">
                                <span class="error_msg">Email is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Contact</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="658 799 8941" appNumbersOnly maxlength="10" formControlName="primaryContact" />
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.primaryContact.errors">
                            <div *ngIf="fclientinquiryData.primaryContact.errors.required">
                                <span class="error_msg">Contact is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label class="form-label" for="basic-default-phone">Contact-2</label>
                        <input type="text" id="basic-default-phone" appNumbersOnly maxlength="10"
                            class="form-control phone-mask" placeholder="658 799 8941"
                            formControlName="secondryContact" />
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label for="nameBasic" class="form-label">Address</label>
                        <textarea id="basic-default-message" class="form-control" placeholder=""
                            formControlName="address"></textarea>
                        <div *ngIf="submittedclientInquiryData && fclientinquiryData.address.errors">
                            <div *ngIf="fclientinquiryData.address.errors.required">
                                <span class="error_msg">Address is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3">
                        <label for="html5-date-input" class="form-label">Date</label>
                        <div class="position-relative mat-date-picker">
                            <!-- <input type="text" class="form-control" matInput [matDatepicker]="picker1"
                                placeholder="Choose a start date" formControlName="date">
                            <div class="mat-dat-picker-icon">
                                <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </div> -->
                            <input matInput [matDatepicker]="picker1" class="form-control" formControlName="date">
                            <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker> -->
                            <div class="mat-dat-picker-icon">
                                <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-header d-flex justify-content-between align-items-center px-0">
                    <h5 class="mb-0">Event</h5>
                </div>
                <div formArrayName="events">
                    <div class="d-sm-block d-lg-flex align-items-center clear-fix" [formGroupName]="i"
                        *ngFor="let item of clientinquiryDataForm.get('events')['controls']; let i = index;">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="nameBasic" class="form-label">Event Type</label>
                                    <ng-select [items]="eventActiveList" class="form-control p-0" bindLabel="name"
                                        bindValue="_id" placeholder="Select Event" formControlName="eventType">
                                    </ng-select>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label class="form-label" for="basic-default-company">Guest</label>
                                    <input type="text" appNumbersOnly class="form-control" id="basic-default-company"
                                        placeholder="ACME Inc." formControlName="guest" />
                                </div>
                                <!-- <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="html5-date-input" class="form-label">Start Date</label>
                                    <div class="position-relative mat-date-picker">
                                        <input type="text" class="form-control" matInput
                                            (ngModelChange)="onStartDateChange($event,i)"
                                            [ngxMatDatetimePicker]="startDate" placeholder="Choose a start date"
                                            formControlName="startDateObj" [min]="minDate" [max]="maxDate"
                                            [disabled]="disabled">
                                        <div class="mat-dat-picker-icon">
                                            <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                            <ngx-mat-datetime-picker #startDate [showSpinners]="showSpinners"
                                                [showSeconds]="showSeconds" [stepHour]="stepHour"
                                                [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                                [color]="color" [enableMeridian]="enableMeridian">
                                            </ngx-mat-datetime-picker>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="html5-date-input" class="form-label">End Date</label>
                                    <div class="position-relative mat-date-picker">
                                        <input type="text" class="form-control" matInput
                                            [ngxMatDatetimePicker]="endDate" placeholder="Choose a start date"
                                            formControlName="endDateObj" [min]="minEndDate[i]" [max]="maxDate"
                                            [disabled]="disabled">
                                        <div class="mat-dat-picker-icon">
                                            <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                            <ngx-mat-datetime-picker #endDate [showSpinners]="showSpinners"
                                                [showSeconds]="showSeconds" [stepHour]="stepHour"
                                                [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                                [color]="color" [enableMeridian]="enableMeridian">
                                            </ngx-mat-datetime-picker>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="html5-date-input" class="form-label">Start Time</label>
                                    <div class="position-relative mat-date-picker">
                                        <input class="form-control cus-time-picker" formControlName="startTimeObj"
                                            type="time">
                                        <!-- <div class="mat-dat-picker-icon">
                                            <div class="calendar-icon"><i class="bx bx-time-five"></i></div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="html5-date-input" class="form-label">End Time</label>
                                    <div class="position-relative mat-date-picker">
                                        <input class="form-control cus-time-picker" formControlName="endTimeObj"
                                            type="time">
                                        <!-- <div class="mat-dat-picker-icon">
                                            <div class="calendar-icon"><i class="bx bx-time-five"></i></div>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label for="html5-date-input" class="form-label">Date</label>
                                    <input class="form-control" type="date" value="2021-06-18" id="html5-date-input" >
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <label for="html5-time-input" class="form-label">Time</label>
                                    <input class="form-control" type="date" value="2021-06-18" id="html5-date-input" >
                                </div> -->
                            </div>
                        </div>
                        <div class="w-px-30 mb-3 h-px-100">
                            <!-- <lael for="nameBasic" class="form-label d-block">&nbsp;</lael> -->
                            <button *ngIf="i != 0" type="button" class="event-btn-close ml-10" aria-label="Close"
                                (click)="deletEventList(i)"></button>
                        </div>
                    </div>

                </div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="addEventList()">Add</button>
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-primary" (click)="saveClientInquiry()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>