<div class="container-fluid flex-grow-1 container-p-y">

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-body p-0">
            <div class="d-md-flex justify-content-between align-items-center mb-3 p-4">
                <div class="card border-solid-primary flex-row align-items-center ps-2">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                        aria-label="Search..." (input)="search($event.target.value)"/>
                </div>
                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Party Plot Master</h4> -->
                <div class="btn-cus">
                    <button type="button" class="btn btn-primary" (click)="addPartyplot()">
                        Add New
                    </button>
                </div>
            </div>
            <div class="text-nowrap table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-5">No</th>
                            <th class="w-10">Status</th>
                            <th class="w-15">Action</th>
                            <th>Name</th>
                            <th>Event</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr
                            *ngFor="let partyplotmasterData of partyplotList | paginate: { itemsPerPage: l, currentPage: p }; let partyPlotIndex = index">
                            <td>{{ l * (p - 1) + partyPlotIndex + 1 }}</td>
                            <td>
                                <span *ngIf="partyplotmasterData.status == 1"
                                    class="badge bg-label-success me-1">Active</span>
                                <span *ngIf="partyplotmasterData.status == 2"
                                    class="badge bg-label-danger me-1">Deactive</span>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <button class="btn-bg"
                                        (click)="editPartyplotmaster({id : partyplotmasterData._id, index : partyPlotIndex})">
                                        <i class="bx bx-edit-alt " tooltip="Edit" placement="bottom" showDelay="100"></i>
                                    </button>
                                    <button *ngIf="partyplotmasterData.status == 2" title="Active Party Plot"
                                        (confirm-click)="statusPartyplot({id :partyplotmasterData._id,index:partyPlotIndex, status:1})"
                                        appConfirm [confirmTitle]="'Active'"
                                        [confirmContent]="'Are you sure to Active this Party Plot Master?'"
                                        class="btn-bg bg-label-success" tooltip="Add" placement="bottom" showDelay="100">
                                        <i class="bx bx-plus bg-label-success"></i>
                                    </button>
                                    <button *ngIf="partyplotmasterData.status == 1" title="Deactive Party Plot"
                                        (confirm-click)="statusPartyplot({id :partyplotmasterData._id,index:partyPlotIndex, status:2})"
                                        appConfirm [confirmTitle]="'Deactive'"
                                        [confirmContent]="'Are you sure to Deactive this Party Plot Master?'"
                                        class="btn-bg bg-label-danger" tooltip="Delete" placement="bottom" showDelay="100">
                                        <i class="bx bx-trash bg-label-danger"></i>
                                    </button>
                                </div>
                            </td>
                            <td><strong>{{ partyplotmasterData.name }}</strong></td>
                            <td><span *ngFor="let eventsData of partyplotmasterData.events; let eventIndex = index"><span
                                        *ngIf="eventIndex > 0">,&nbsp;</span>{{eventsData.name}}</span></td>
                            <td>{{ partyplotmasterData.address }}</td>
                            
                        </tr>
                        <tr *ngIf="noData">
                            <td colspan="6">
                                <h4 class="text-center mt-3">No Data Found</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-pagination float-end mt-3 p-4" *ngIf="!noData">
                <pagination-controls (pageChange)="p = $event" *ngIf="partyplotList.length > l"></pagination-controls>
            </div>
        </div>
        
    </div>
    
    <div class="content-backdrop fade"></div>
</div>
<div class="modal fade" id="add-menu-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>{{ISeditPartyplot ?
                    'Edit' : 'Add'}} Party Plot Details</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelPartyplot()"></button>
            </div>
            <div class="modal-body">
                <form role="form" class="add-employee-form" [formGroup]="partyplotForm" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" />
                            <div *ngIf="submittedPartyplotData && fnameData.name.errors">
                                <div *ngIf="fnameData.name.errors.required">
                                    <span class="error_msg text-danger">Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="nameBasic" class="form-label">Event Select</label>
                            <ng-select [items]="activeeventList" [multiple]="true" class="form-control p-0"
                                bindLabel="name" bindValue="_id" placeholder="Select Module" formControlName="events"
                                [closeOnSelect]="false">
                            </ng-select>
                            <div *ngIf="submittedPartyplotData && eventInvalid === true">
                                <span class="error_msg text-danger">Event is Required.</span>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="nameBasic" class="form-label">Address</label>
                            <textarea id="basic-default-message" class="form-control" placeholder=""
                                formControlName="address"></textarea>
                            <div *ngIf="submittedPartyplotData && fnameData.address.errors">
                                <div *ngIf="fnameData.address.errors.required">
                                    <span class="error_msg text-danger">Address is Required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="ISeditPartyplot === false"
                    (click)="savePartyplot()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="ISeditPartyplot === true"
                    (click)="updatePartyplot()">Update</button>
            </div>
        </div>
    </div>
</div>