<div class="container-fluid flex-grow-1 container-p-y">
    <div>
        <div class="card">
            <div class="card-body p-0">
                <div class="row mb-3 p-4" *ngIf="activeTab === 1">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-3">
                                <!-- <div class=" d-flex align-items-center">
                                    <label class="me-3">Search:</label>
                                    <input type="search" class="form-control" placeholder=""
                                        aria-controls="DataTables_Table_0">
                                </div> -->
                                <div class="card border-solid-primary flex-row align-items-center ps-2">
                                    <i class="bx bx-search fs-4 lh-0"></i>
                                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                        aria-label="Search..." [(ngModel)]="searchedName" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Inquiry</h4> -->
                                <ng-select [items]="monthArray" [multiple]="false" class="form-control p-0 me-3"
                                    bindLabel="month" bindValue="value" [(ngModel)]="searchedMonth"
                                    placeholder="Select Month">
                                </ng-select>
                            </div>
                            <div class="col-lg-3">
                                <ng-select [items]="yearArray" [multiple]="false" class="form-control p-0 me-3"
                                    bindLabel="yearArray" bindValue="yearArray" [(ngModel)]="searchedYear"
                                    placeholder="Select Year">
                                </ng-select>
                            </div>
                            <div class="col-lg-3">
                                <button type="button" (click)="searchFilterInquiryList()" class="btn btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="float-end">
                            <!-- <button type="button" class="btn btn-primary" (click)="tabClick(1)" *ngIf="activeTab === 2">
                                Table View
                            </button> -->
                            <button type="button" class="btn btn-primary" (click)="tabClick(2)">
                                Calendar View
                            </button>
                        </div>
                    </div>
                </div>
                <div class="py-3" [ngClass]="activeTab == 1 ? 'd-block' : 'd-none'">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Contact-2</th>
                                    <th>Address</th>
                                    <th>Event Type</th>
                                    <th>Guest</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0"
                                *ngFor="let inquiryData of inquiryList | paginate: { itemsPerPage: l, currentPage: p }; let inquiryIndex = index">
                                <tr>
                                    <td>{{ l * (p - 1) + inquiryIndex + 1 }}</td>
                                    <td><strong>{{inquiryData.name}}</strong></td>
                                    <td>{{inquiryData.email}}</td>
                                    <td>{{inquiryData.primaryContact}}</td>
                                    <td>{{inquiryData.secondryContact}}</td>
                                    <td>{{inquiryData.address}}</td>
                                    <td>{{inquiryData.eventName}}</td>
                                    <td>{{inquiryData.guest}}</td>
                                    <td>{{inquiryData.startDateObj | date:'dd/MM/yyyy hh:MM:SS a'}}</td>
                                    <td>{{inquiryData.endDateObj | date:'dd/MM/yyyy hh:MM:SS a'}}</td>
                                    <td>
                                        <span *ngIf="inquiryData.status == 1"
                                            class="badge bg-label-success me-1">Active</span>
                                        <span *ngIf="inquiryData.status == 2"
                                            class="badge bg-label-danger me-1">Deactive</span>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <button class="btn-bg" (click)="editInquiryData(inquiryData)">
                                                <i class="bx bx-edit-alt "></i>
                                            </button>
                                            <button *ngIf="inquiryData.status == 2" title="Active Event"
                                                (confirm-click)="inquiryStatus({id :inquiryData._id,index:inquiryIndex, status:1})"
                                                appConfirm [confirmTitle]="'Active'"
                                                [confirmContent]="'Are you sure to Active this Inquiry?'"
                                                class="bg-label-success btn-bg bg-label-success">
                                                <i class="bx bx-plus"></i>
                                            </button>
                                            <button *ngIf="inquiryData.status == 1" title="Deactive Event"
                                                (confirm-click)="inquiryStatus({id :inquiryData._id,index:inquiryIndex, status:2})"
                                                appConfirm [confirmTitle]="'Deactive'"
                                                [confirmContent]="'Are you sure to Deactive this Inquiry?'"
                                                class="bg-label-danger btn-bg bg-label-danger">
                                                <i class="bx bx-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="noData">
                                    <td colspan="12">
                                        <h4 class="text-center mt-3">No Data Found</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer-pagination float-end mt-3 p-4">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <div class="" [ngClass]="activeTab == 2 ? 'd-block' : 'd-none'" *ngIf="activeTab == 2">
                    <div class="p-4">
                        <full-calendar #calendar [options]="calendarOptions">
                        </full-calendar>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="inquiry-details-by-date-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-height-calc">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Inquiry Details</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-scroll inquiry-bydate">
                <div class="inquiry-bydate-list"
                    *ngFor="let inquiryDataByDate of inquiryListByDate;let inquiryIndex = index;">
                    <!-- *ngFor here apply-->
                    <div class="row my-4">
                        <div class="col">
                            <div class="accordion" id="collapsibleSection">
                                <div class="card shadow">
                                    <div class="position-relative">

                                        <h2 class="accordion-header" id="headingDeliveryOptions">
                                            <button type="button" class="accordion-button  border-bottom"
                                                [ngClass]="collapse[inquiryIndex] === true ? '' : 'collapsed'"
                                                (click)="collapseShow(inquiryIndex)">
                                                <div class="d-block">
                                                    <div class="d-flex">
                                                        <span class="me-2"> {{inquiryDataByDate.name | titlecase}}
                                                            <strong> {{'(' + inquiryDataByDate.eventName +
                                                                ')'}}</strong></span>

                                                    </div>
                                                    <div>
                                                        <span>
                                                            <i class="bx bxs-phone me-2"></i><samp
                                                                class="fw-light">{{inquiryDataByDate.primaryContact}}</samp></span>
                                                    </div>
                                                </div>
                                            </button>
                                            <div [ngClass]="{'collapsed' : collapse[inquiryIndex] === true,
                                            'green' : inquiryDataByDate.approvalStatus === 3 ,
                                            'red' : inquiryDataByDate.approvalStatus === 2 ,
                                            'blue' : inquiryDataByDate.approvalStatus === 1}" class="border-left-div ">
                                            </div>
                                        </h2>
                                    </div>

                                    <div id="collapseDeliveryOptions-{{inquiryIndex}}"
                                        class="accordion-collapse collapse"
                                        [ngClass]="collapse[inquiryIndex] === true ? 'show' : ''">
                                        <div class="accordion-body">
                                            <div class="inquiry-bydate-list-item">
                                                <div class="d-flex align-items-center justify-content-end">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-11">
                                                        <ul class="list-unstyled my-3">
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bx-user"></i>
                                                                <div>
                                                                    <span>Guest:</span>
                                                                    <span>{{inquiryDataByDate.guest}}</span>
                                                                </div>
                                                            </li>
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bx-envelope"></i>
                                                                <div>
                                                                    <span>Email:</span>
                                                                    <span>{{inquiryDataByDate.email}}</span>
                                                                </div>
                                                            </li>
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bxs-calendar"></i>
                                                                <div>
                                                                    <span>From Date:</span>
                                                                    <span>{{inquiryDataByDate.startDateObj | date :
                                                                        'dd/MM/yyyy hh:MM:ss a'}}</span>
                                                                </div>
                                                            </li>
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bxs-calendar"></i>
                                                                <div>
                                                                    <span>To Date:</span>
                                                                    <span>{{inquiryDataByDate.endDateObj | date :
                                                                        'dd/MM/yyyy hh:MM:ss a'}}</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-1 col-md-3 col-sm-3  col-3">
                                                        <div class="d-flex my-3">
                                                            <button class="btn-bg"
                                                                (click)="viewInquiryDetails(inquiryDataByDate._id)">
                                                                <i class='bx bxs-show'></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Contact-2</th>
                                <th>Address</th>
                                <th>Event Type</th>
                                <th>Guest</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0"
                            *ngFor="let inquiryData of inquiryListByDate | paginate: { itemsPerPage: l, currentPage: p }; let inquiryIndex = index">
                            <tr>
                                <td>{{ l * (p - 1) + inquiryIndex + 1 }}</td>
                                <td><strong>{{inquiryData.name | titlecase }}</strong></td>
                                <td>{{inquiryData.email}}</td>
                                <td>{{inquiryData.primaryContact}}</td>
                                <td>{{inquiryData.secondryContact}}</td>
                                <td>{{inquiryData.address}}</td>
                                <td>{{inquiryData.eventName}}</td>
                                <td>{{inquiryData.guest}}</td>
                                <td>{{inquiryData.startDateObj | date:'dd/MM/yyyy hh:MM:SS a'}}</td>
                                <td>{{inquiryData.endDateObj | date:'dd/MM/yyyy hh:MM:SS a'}}</td>
                                <td>
                                    <span *ngIf="inquiryData.status == 1"
                                        class="badge bg-label-success me-1">Active</span>
                                    <span *ngIf="inquiryData.status == 2"
                                        class="badge bg-label-danger me-1">Deactive</span>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn-bg"
                                            (click)="editStaff({id : inquiryData._id, index : inquiryIndex})">
                                            <i class="bx bx-edit-alt "></i>
                                        </button>
                                        <button *ngIf="inquiryData.status == 2" title="Active Event"
                                            (confirm-click)="inquiryStatus({id :inquiryData._id,index:inquiryIndex, status:1})"
                                            appConfirm [confirmTitle]="'Active'"
                                            [confirmContent]="'Are you sure to Active this Inquiry?'"
                                            class="bg-label-success btn-bg bg-label-success">
                                            <i class="bx bx-plus"></i>
                                        </button>
                                        <button *ngIf="inquiryData.status == 1" title="Deactive Event"
                                            (confirm-click)="inquiryStatus({id :inquiryData._id,index:inquiryIndex, status:2})"
                                            appConfirm [confirmTitle]="'Deactive'"
                                            [confirmContent]="'Are you sure to Deactive this Inquiry?'"
                                            class="bg-label-danger btn-bg bg-label-danger">
                                            <i class="bx bx-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="noData">
                                <td colspan="12">
                                    <h4 class="text-center mt-3">No Data Found</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-inquiry-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-height-calc">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Add Inquiry</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-scroll inquiry-bydate">
                <div class="inquiry-bydate-list">
                    <div class="inquiry-bydate-list-item">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 mb-3">
                                <label for="html5-date-input" class="form-label">Start Date</label>
                                <div class="position-relative mat-date-picker">
                                    <input type="text" class="form-control" matInput
                                        (ngModelChange)="onStartDateChange($event)" [ngxMatDatetimePicker]="startDate"
                                        placeholder="Choose a start date" [(ngModel)]="startDateObj" [min]="minDate"
                                        [max]="maxDate" [disabled]="disabled">
                                    <div class="mat-dat-picker-icon">
                                        <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #startDate [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                            [enableMeridian]="enableMeridian">
                                        </ngx-mat-datetime-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-3">
                                <label for="html5-date-input" class="form-label">End Date</label>
                                <div class="position-relative mat-date-picker">
                                    <input type="text" class="form-control" matInput [ngxMatDatetimePicker]="endDate"
                                        placeholder="Choose a start date" [(ngModel)]="endDateObj" [min]="minEndDate"
                                        [max]="maxDate" [disabled]="disabled">
                                    <div class="mat-dat-picker-icon">
                                        <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #endDate [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                            [enableMeridian]="enableMeridian">
                                        </ngx-mat-datetime-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary" (click)="addInquiryByDate()">Save</button>
                </div>
                <div class="float-end">
                    <button type="cancle" (click)="cancelInquiryByDate()" class="btn btn-danger">Cancle</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-inquiry-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Edit Inquiry</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="inquiryForm">
                    <div class="row">
                        <input type="hidden" formControlName="_id">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" />
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.name.errors">
                                <div *ngIf="fclientinquiryData.name.errors.required">
                                    <span class="error_msg">Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                    aria-label="john.doe" aria-describedby="basic-default-email2"
                                    formControlName="email" />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.email.errors">
                                <div *ngIf="fclientinquiryData.email.errors.required">
                                    <span class="error_msg">Email is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" formControlName="primaryContact" />
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.primaryContact.errors">
                                <div *ngIf="fclientinquiryData.primaryContact.errors.required">
                                    <span class="error_msg">Contact is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact-2</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" formControlName="secondryContact" />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Address</label>
                            <textarea id="basic-default-message" class="form-control" placeholder=""
                                formControlName="address" formControlName="address"></textarea>
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.address.errors">
                                <div *ngIf="fclientinquiryData.address.errors.required">
                                    <span class="error_msg">Address is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Event Type</label>
                            <ng-select [items]="eventActiveList" class="form-control p-0" bindLabel="name"
                                bindValue="_id" placeholder="Select Event" formControlName="eventType">
                            </ng-select>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-company">Guest</label>
                            <input type="text" class="form-control" appNumbersOnly id="basic-default-company"
                                placeholder="ACME Inc." formControlName="guest" />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="html5-date-input" class="form-label">Start Date</label>
                            <div class="position-relative mat-date-picker">
                                <input type="text" class="form-control" matInput
                                    (ngModelChange)="onStartDateChange($event)" [ngxMatDatetimePicker]="startDate"
                                    placeholder="Choose a start date" formControlName="startDateObj" [min]="minDate"
                                    [max]="maxDate" [disabled]="disabled">
                                <div class="mat-dat-picker-icon">
                                    <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #startDate [showSpinners]="showSpinners"
                                        [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                        [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                        [enableMeridian]="enableMeridian">
                                    </ngx-mat-datetime-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="html5-date-input" class="form-label">End Date</label>
                            <div class="position-relative mat-date-picker">
                                <input type="text" class="form-control" matInput [ngxMatDatetimePicker]="endDate"
                                    placeholder="Choose a start date" formControlName="endDateObj" [min]="minEndDate"
                                    [max]="maxDate" [disabled]="disabled">
                                <div class="mat-dat-picker-icon">
                                    <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #endDate [showSpinners]="showSpinners"
                                        [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                        [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                        [enableMeridian]="enableMeridian">
                                    </ngx-mat-datetime-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="float-end">
                    <button type="submit" class="btn btn-primary" (click)="updateClientInquiry()">Update</button>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>