.inquiry-bydate-list-item .dropdown-menu {
  min-width: 5rem !important;
  text-align: center;
}
.inquiry-bydate-list .avatar {
  position: relative;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.border-left-div.green::after {
  border-color: #71dd37 !important;
}
.border-left-div.red::after {
  border-color: #ff3e1d !important;
}
.border-left-div.blue::after {
  border-color: #00adef !important;
}
.border-left-div::after {
  content: "";
  border-left: 10px solid;
  border-top-left-radius: 0.4rem;
  width: 104px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  border-bottom-left-radius: 0.4rem;
  transition: all 0.2s ease-in-out, border-radius 0.25s ease;
}
.border-left-div:not(.collapsed)::after {
  content: "";
  border-left: 10px solid;
  border-top-left-radius: 0.4rem;
  width: 104px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  border-bottom-left-radius: 0;
  transition: all 0.2s ease-in-out, border-radius 0.25s ease;
}
.accordion-data {
  display: flex;
  align-items: center;
}
.accordion-data span {
  margin: 0 0.5rem;
  font-weight: 600;
}
.dropdown-search {
  position: absolute;
  top: 1.5rem;
  right: 23px;
  max-width: 300px;
  width: 100%;
}
@media (max-width: 576px) {
  .accordion-body {
    padding: 0.79rem;
  }
  .accordion-body ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .accordion-data {
    display: flex;
    align-items: start;
  }
  .accordion-data i {
    margin-right: 5px;
  }
  .accordion-data span {
    margin: 0;
    display: block;
  }
  .my-3 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .dropdown-search {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
}
@media (max-width: 800px) {
  .dropdown-search {
    position: unset !important;
    top: 0;
    right: 0;
  }
}

/* @media (max-width: 1024px) {
  .dropdown-search {
    position: absolute;
    transform: translate(190%,35%)!important;
  }
} */
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}