<div class="container-fluid flex-grow-1 container-p-y">
    <div>
        <div class="card">
            <div class="card-body p-0">
                <div class="row mb-3 p-4 btn-cus" *ngIf="isInquiryTab === true">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
                                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Inquiry</h4> -->
                                <ng-select [items]="assignpartyplotList" [multiple]="false" 
                                    class="form-control p-0 me-3" bindLabel="name" bindValue="_id"
                                    [(ngModel)]="searchedPartyplot"  placeholder="Select Party Plot">
                                </ng-select>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
                                <!-- <div class=" d-flex align-items-center">
                                    <label class="me-3">Search:</label>
                                    <input type="search" class="form-control" placeholder=""
                                        aria-controls="DataTables_Table_0">
                                </div> -->
                                <div class="card border-solid-primary flex-row align-items-center ps-2">
                                    <i class="bx bx-search fs-4 lh-0"></i>
                                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                        aria-label="Search..." [(ngModel)]="searchedName" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
                                <!-- <h4 class="fw-bold py-3 m-0"><span class="text-muted fw-light"></span> Inquiry</h4> -->
                                <ng-select [items]="monthArray" [multiple]="false" class="form-control p-0 me-3"
                                    bindLabel="month" bindValue="value" [(ngModel)]="searchedMonth"
                                    placeholder="Select Month">
                                </ng-select>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <ng-select [items]="yearArray" [multiple]="false" class="form-control p-0 me-3"
                                    bindLabel="yearArray" bindValue="yearArray" [(ngModel)]="searchedYear"
                                    placeholder="Select Year">
                                </ng-select>
                                <div *ngIf="invaildSearchList === true" class="error_msg">Please select Year.</div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12"></div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="text-end">
                                    <button type="button" (click)="searchFilterInquiryList()"
                                        class="btn btn-primary ">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-3" [ngClass]="isInquiryTab == true ? 'd-block' : 'd-none'">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="w-5">No</th>
                                    <th class="w-10">Action</th>
                                    <th class="w-15">Status</th>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Contact-2</th>
                                    <th>Event Type</th>
                                    <th>Guest</th>
                                    <th>Party Plot</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                <tr *ngFor="let inquiryData of inquiryList | paginate: { itemsPerPage: l, currentPage: p }; let inquiryIndex = index">
                                    <td>{{ l * (p - 1) + inquiryIndex + 1 }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <button class="btn-bg"
                                                (click)="viewInquiryBooking(inquiryData.clientInquiryId,inquiryData.approvestatus,inquiryData.inquirybooking_id)">
                                                <i class="bx bxs-show" tooltip="Booking View" placement="bottom"
                                                    showDelay="100"></i>
                                            </button>
                                            <button class="btn-bg badge bg-label-success"
                                                *ngIf="inquiryData.approvestatus == 1 && isBookedOrNotForListView[inquiryIndex] === true"
                                                tooltip="Booking Confirm" placement="bottom" showDelay="100"
                                                (click)="bookingConfirmNavigation(inquiryData.eventinquiry_id)">
                                                <i class="bx bx-check"></i>
                                            </button>
                                            <button class="btn-bg badge bg-label-danger" tooltip="Booking Cancel"
                                                *ngIf="inquiryData.approvestatus != 3" placement="bottom"
                                                showDelay="100" (confirm-click)="cancelBooking(inquiryData.eventinquiry_id)"
                                                appConfirm [confirmTitle]="'Cancel Booking'"
                                        [confirmContent]="'Are you sure to Cancel Booking?'">
                                                <i class="bx bx-x"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <span *ngIf="inquiryData.approvestatus == 1"
                                            class="badge bg-label-primary me-1">Pending</span>
                                        <span *ngIf="inquiryData.approvestatus == 2"
                                            class="badge bg-label-success me-1">Confirm</span>
                                        <span *ngIf="inquiryData.approvestatus == 3"
                                            class="badge bg-label-danger me-1">Cancel</span>
                                    </td>
                                    <td>{{inquiryData.startDateObj | date:'dd/MM/yyyy':'+0000' }}</td>
                                    <td><strong>{{inquiryData.name}}</strong></td>
                                    <td>{{inquiryData.email}}</td>
                                    <td>{{inquiryData.primaryContact}}</td>
                                    <td>{{inquiryData.secondryContact}}</td>
                                    <td>{{inquiryData.eventName}}</td>
                                    <td>{{inquiryData.guest}}</td>
                                    <td>{{inquiryData.partyplot_name}}</td>
                                    <td>{{inquiryData.address}}</td>
                                </tr>
                                <tr *ngIf="noData">
                                    <td colspan="12">
                                        <h4 class="text-center mt-3">No Data Found</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer-pagination float-end mt-3 p-4" *ngIf="inquiryList?.length > l">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <div class="" [ngClass]="isInquiryTab == false ? 'd-block' : 'd-none'">
                    <div class="p-4 btn-cus position-relative">
                        <div class="dropdown-search">

                            <ng-select [items]="assignpartyplotList" [multiple]="false" class="form-control p-0 me-3"
                                bindLabel="name" bindValue="_id"  [(ngModel)]="searchedPartyplot" [clearable]="false"
                                (change)="partyplotChange()" placeholder="Select Party Plot">
                            </ng-select>

                        </div>
                        <full-calendar #calendar [options]="calendarOptions">
                        </full-calendar>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="inquiry-details-by-date-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-height-calc">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Inquiry Details</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-scroll inquiry-bydate">
                <div class="inquiry-bydate-list"
                    *ngFor="let inquiryDataByDate of inquiryListByDate;let inquiryIndex = index;">
                    <!-- *ngFor here apply-->
                    <div class="row my-4">
                        <div class="col">
                            <div class="accordion" id="collapsibleSection">
                                <div class="card shadow">
                                    <div class="position-relative">

                                        <h2 class="accordion-header" id="headingDeliveryOptions">
                                            <button type="button" class="accordion-button  border-bottom"
                                                [ngClass]="collapse[inquiryIndex] === true ? '' : 'collapsed'"
                                                (click)="collapseShow(inquiryIndex)">
                                                <div class="d-block">
                                                    <div class="d-flex">
                                                        <span class="me-2"> {{inquiryDataByDate.clientname | titlecase}}
                                                            <strong> {{'(' + inquiryDataByDate.eventName +
                                                                ')'}}</strong></span>

                                                    </div>
                                                    <div>
                                                        <span>
                                                            <i class="bx bxs-phone me-2"></i><samp
                                                                class="fw-light">{{inquiryDataByDate.primaryContact}}</samp></span>
                                                    </div>
                                                </div>
                                            </button>
                                            <div [ngClass]="{'collapsed' : collapse[inquiryIndex] === false,
                                            'green' : inquiryDataByDate.approvestatus === 2 ,
                                            'red' : inquiryDataByDate.approvestatus === 3 ,
                                            'blue' : inquiryDataByDate.approvestatus === 1}" class="border-left-div ">
                                            </div>
                                        </h2>
                                    </div>

                                    <div id="collapseDeliveryOptions-{{inquiryIndex}}"
                                        class="accordion-collapse collapse"
                                        [ngClass]="collapse[inquiryIndex] === true ? 'show' : ''">
                                        <div class="accordion-body">
                                            <div class="inquiry-bydate-list-item">
                                                <div class="d-flex align-items-center justify-content-end">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-11">
                                                        <ul class="list-unstyled my-3">
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bx-user"></i>
                                                                <div>
                                                                    <span>Guest:</span>
                                                                    <span>{{inquiryDataByDate.guest}}</span>
                                                                </div>
                                                            </li>
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bx-envelope"></i>
                                                                <div>
                                                                    <span>Email:</span>
                                                                    <span>{{inquiryDataByDate.email}}</span>
                                                                </div>
                                                            </li>
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bxs-calendar"></i>
                                                                <div>
                                                                    <span>From Date:</span>
                                                                    <span>{{inquiryDataByDate.startDateObj |
                                                                        date:'dd/MM/yyyy, hh:mm a':'+0000'}}</span>
                                                                </div>
                                                            </li>
                                                            <li class="mb-2 accordion-data">
                                                                <i class="bx bxs-calendar"></i>
                                                                <div>
                                                                    <span>To Date:</span>
                                                                    <span>{{inquiryDataByDate.endDateObj |
                                                                        date:'dd/MM/yyyy, hh:mm a':'+0000'}}</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-1 col-md-3 col-sm-3  col-3">
                                                        <div class="dropdown">
                                                            <button class="btn p-0" type="button" id="cardOpt6"
                                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <i class="bx bx-dots-vertical-rounded"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="cardOpt6">
                                                                <a class="dropdown-item"
                                                                    (click)="viewInquiry(inquiryDataByDate.clientInquiryId,inquiryDataByDate.approvestatus,inquiryDataByDate.inquirybooking_id)">
                                                                    View More
                                                                </a>
                                                                <a class="dropdown-item"
                                                                    *ngIf="inquiryDataByDate.approvestatus == 1 && isBookedOrNot[inquiryIndex] == true"
                                                                    (click)="bookingConfirmNavigation(inquiryDataByDate._id)">Booking
                                                                    Confirm</a>
                                                                <a class=" dropdown-item"
                                                                    *ngIf="inquiryDataByDate.approvestatus != 3"
                                                                    (click)="cancelBooking(inquiryDataByDate._id)">Booking
                                                                    Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-inquiry-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-height-calc">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Add Inquiry</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-scroll inquiry-bydate">
                <div class="inquiry-bydate-list">
                    <div class="inquiry-bydate-list-item">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 mb-3">
                                <label for="html5-date-input" class="form-label">Date</label>
                                <div class="position-relative mat-date-picker">
                                    <!-- <input type="text" class="form-control" matInput [matDatepicker]="picker1"
                                        placeholder="Choose a start date" formControlName="date">
                                    <div class="mat-dat-picker-icon">
                                        <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </div> -->
                                    <input matInput [matDatepicker]="picker1" placeholder="Select Date"
                                        class="form-control" [(ngModel)]="startDateObj">
                                    <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker> -->
                                    <div class="mat-dat-picker-icon">
                                        <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 mb-3">
                                <label for="html5-date-input" class="form-label">Start Date</label>
                                <div class="position-relative mat-date-picker">
                                    <input type="text" class="form-control" matInput
                                        (ngModelChange)="onStartDateChange($event)" [ngxMatDatetimePicker]="startDate"
                                        placeholder="Choose a start date" [(ngModel)]="startDateObj" [min]="minDate"
                                        [max]="maxDate" [disabled]="disabled">
                                    <div class="mat-dat-picker-icon">
                                        <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #startDate [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                            [enableMeridian]="enableMeridian">
                                        </ngx-mat-datetime-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-3">
                                <label for="html5-date-input" class="form-label">End Date</label>
                                <div class="position-relative mat-date-picker">
                                    <input type="text" class="form-control" matInput [ngxMatDatetimePicker]="endDate"
                                        placeholder="Choose a start date" [(ngModel)]="endDateObj" [min]="minEndDate"
                                        [max]="maxDate" [disabled]="disabled">
                                    <div class="mat-dat-picker-icon">
                                        <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #endDate [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                            [enableMeridian]="enableMeridian">
                                        </ngx-mat-datetime-picker>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary" (click)="addInquiryByDate()">Save</button>
                </div>
                <div class="float-end">
                    <button type="cancle" (click)="cancelInquiryByDate()" class="btn btn-danger">Cancle</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-inquiry-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1" *ngIf="isEditViewInquiryDetails == true"><strong>Edit
                        Inquiry</strong></h5>
                <h5 class="modal-title" id="exampleModalLabel1" *ngIf="isEditViewInquiryDetails == false"><strong>View
                        Inquiry</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="justify-content-end d-flex mb-4">
                        <button type="submit" class="btn btn-primary"
                            [ngClass]="isEditViewInquiryDetails == true ? 'd-none' : 'd-block'"
                            (click)="isEditViewInquiryDetails = true">Edit
                            Inquiry</button>
                        <button type="submit" class="btn btn-primary"
                            [ngClass]="isEditViewInquiryDetails == false ? 'd-none' : 'd-block'"
                            (click)="isEditViewInquiryDetails = false">View
                            Inquiry</button>
                    </div>
                </div>
                <form [formGroup]="inquiryForm">
                    <div class="row">
                        <input type="hidden" formControlName="_id">
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Name</label>
                            <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name"
                                formControlName="name" [readonly]="isEditViewInquiryDetails == false" />
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.name.errors">
                                <div *ngIf="fclientinquiryData.name.errors.required">
                                    <span class="error_msg">Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe"
                                    aria-label="john.doe" aria-describedby="basic-default-email2"
                                    formControlName="email" [readonly]="isEditViewInquiryDetails == false" />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.email.errors">
                                <div *ngIf="fclientinquiryData.email.errors.required">
                                    <span class="error_msg">Email is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact</label>
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" appNumbersOnly maxlength="10"
                                [readonly]="isEditViewInquiryDetails == false" formControlName="primaryContact" />
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.primaryContact.errors">
                                <div *ngIf="fclientinquiryData.primaryContact.errors.required">
                                    <span class="error_msg">Contact is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-phone">Contact-2</label>
                            <input type="text" id="basic-default-phone" appNumbersOnly maxlength="10"
                                class="form-control phone-mask" placeholder="658 799 8941"
                                [readonly]="isEditViewInquiryDetails == false" formControlName="secondryContact" />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Address</label>
                            <textarea id="basic-default-message" class="form-control" placeholder=""
                                formControlName="address" [readonly]="isEditViewInquiryDetails == false"
                                formControlName="address"></textarea>
                            <div *ngIf="submittedclientInquiryData && fclientinquiryData.address.errors">
                                <div *ngIf="fclientinquiryData.address.errors.required">
                                    <span class="error_msg">Address is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Event Type</label>
                            <ng-select [items]="eventActiveList" [readonly]="isEditViewInquiryDetails == false"
                                class="form-control p-0" bindLabel="name" bindValue="_id" placeholder="Select Event"
                                formControlName="eventType">
                            </ng-select>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label class="form-label" for="basic-default-company">Guest</label>
                            <input type="text" class="form-control" [readonly]="isEditViewInquiryDetails == false"
                                appNumbersOnly id="basic-default-company" placeholder="Enter Number"
                                formControlName="guest" />
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="html5-date-input" class="form-label">Start Date</label>
                            <div class="position-relative mat-date-picker">
                                <input type="text" class="form-control" matInput
                                    (ngModelChange)="onStartDateChange($event)"
                                    [readonly]="isEditViewInquiryDetails == false" [ngxMatDatetimePicker]="startDate"
                                    placeholder="Choose a start date" formControlName="startDateObj" [min]="minDate"
                                    [max]="maxDate">
                                <div class="mat-dat-picker-icon">
                                    <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                    <mat-datepicker-toggle matSuffix [for]="startDate"
                                        [disabled]="isEditViewInquiryDetails == false"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #startDate [showSpinners]="showSpinners"
                                        [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                        [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                        [enableMeridian]="enableMeridian">
                                    </ngx-mat-datetime-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-3">
                            <label for="html5-date-input" class="form-label">End Date</label>
                            <div class="position-relative mat-date-picker">
                                <input type="text" class="form-control" [readonly]="isEditViewInquiryDetails == false"
                                    matInput [ngxMatDatetimePicker]="endDate" placeholder="Choose a start date"
                                    formControlName="endDateObj" [min]="minEndDate" [max]="maxDate">
                                <div class="mat-dat-picker-icon">
                                    <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                    <mat-datepicker-toggle matSuffix [for]="endDate"
                                        [disabled]="isEditViewInquiryDetails == false"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #endDate [showSpinners]="showSpinners"
                                        [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                                        [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                        [enableMeridian]="enableMeridian">
                                    </ngx-mat-datetime-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="justify-content-evenly modal-footer d-flex float-end">
                <div class="float-end" *ngIf="isEditViewInquiryDetails == true">
                    <button type="submit" class="btn btn-primary" (click)="updateClientInquiry()">Update</button>
                </div>
                <button type="submit" class="btn btn-primary" (confirm-click)="bookInquiry(3)" appConfirm
                    [confirmTitle]="'Book Inquiry'" [confirmContent]="'Are you sure to Book this Inquiry?'">Book
                    Inquiry</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancel-booking-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1"><strong>Cancel Booking</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" [formGroup]="cancelInquiryForm">
                <div class="row">
                    <div class="col-lg-12 col-md-6 mb-3">
                        <label for="nameBasic" class="form-label">Remark</label>
                        <textarea id="basic-default-message" class="form-control" placeholder="Remark"
                            formControlName="remark_status"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="float-end">
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary" (click)="cancelBookingInquiry()">Cancel
                            Booking</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>